<div class="form-group" [hidden]="this.graded">
    <button (click)="this.autoGrade()" [disabled]="this.beforeDueDate()" class="btn qc-btn qc-autograde-btn" tooltip="Send each student's highest grade before the due date (if applicable) to the gradebook. Students who have not made an attempt will still have a blank grade. This is only available after the due date has passed." placement="left">
        <span class="fa fa-book" aria-hidden="true"></span> Auto-grade ungraded assignments
    </button>
</div>
<div class="row">
    <div class="col-12 text-center">
        <qc-alert-message alertKey="autoGradeLoading" [utilitiesService]="this.utilitiesService">
            <p class="text-center"><span class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></span><span class="sr-only">Loading...</span></p>
        </qc-alert-message>
        <qc-alert-message alertKey="autoGradeError" [utilitiesService]="this.utilitiesService"></qc-alert-message>
        <qc-alert-message alertKey="autoGradeSuccess" [utilitiesService]="this.utilitiesService"></qc-alert-message>
    </div>
</div>
<div class="form-group text-light text-center qc-graded-message" [hidden]="!this.graded">
    <span class="fa fa-check correct-icon" aria-hidden="true"></span>&nbsp;
    <span *ngIf="this.ungradedAssessment">This quick check is ungraded</span>
    <span *ngIf="!this.ungradedAssessment">All on-time assignments graded</span>
</div>