<div class="panel panel-default qc-accordion-panel qc-subset-panel">
    <div class="panel-heading" role="tab" id="heading-group-{{this.assessmentGroup.id}}" role="button" data-toggle="collapse"
        [attr.href]="'#collapse-group-' + this.assessmentGroup.id" [attr.aria-expanded]="this.assessmentGroup.closed ? 'false' : 'true'"
        [attr.aria-controls]="'collapse-group-' + this.assessmentGroup.id" (click)="this.toggleAccordion()">
        <div class="qc-assessment-group-title">
            <span class="fa fa-lg qc-accordion-arrow" [ngClass]="this.assessmentGroup.closed ? 'fa-caret-right' : 'fa-caret-down'" aria-hidden="true" [hidden]="this.isEditing"></span>
            <h3 [hidden]="this.isEditing">{{ this.assessmentGroup.name }}</h3>
            <div *ngIf="this.isEditing" class="qc-edit-subset">
                <form (ngSubmit)="this.updateAssessmentGroup()">
                    <h3 class="edit-assessmentgroup-header sr-only" id="edit-assessmentgroup-header-{{this.assessmentGroup.id}}" tabindex="-1">Edit subset</h3>
                    <label for="assessment-group-name-{{this.assessmentGroup.id}}" class="sr-only">Subset name</label>
                    <input type="text" id="assessment-group-name-{{this.assessmentGroup.id}}" class="form-control qc-edit-subset-input" [(ngModel)]="this.editingData.name" required (click)="this.stopAccordion($event)">
                    <button type="button" class="btn btn-sm" (click)="this.editAssessmentGroupCancel()">Cancel <span class="sr-only">edits to subset {{this.assessmentGroup.name}}</span></button>
                </form>
            </div>
            <span class="qc-edit-btn qc-subset-edit-btn" role="button" (click)="this.editAssessmentGroup($event)" [hidden]="this.isEditing" *ngIf="!this.readOnly">
                <span ng-include="$root.iconEditPath" aria-hidden="true"></span>
                <span class="sr-only">Edit subset {{this.assessmentGroup.name}}</span>
            </span>
            <span class="qc-delete-btn qc-subset-delete-btn" role="button" (click)="this.deleteAssessmentGroup($event)" *ngIf="!this.readOnly">
                <span ng-include="$root.iconDeletePath" aria-hidden="true"></span>
                <span class="sr-only">Delete subset {{this.assessmentGroup.name}}</span>
            </span>
        </div>
    </div>
    <div id="collapse-group-{{this.assessmentGroup.id}}" class="panel-collapse collapse in" role="tabpanel" [attr.aria-labelledby]="'heading-group-' + this.assessmentGroup.id">
        <div class="panel-body">
            <p *ngIf="!this.assessmentGroup.assessments.length && !this.readOnly">There are currently no quick checks in this subset. Click the button to add a new quick check to the subset, and then edit the quick check to start adding questions.</p>
            <div class="row qc-quiz-row" *ngFor="let assessment of this.assessmentGroup.assessments; index as $index;">
                <div class="col-12 col-sm-5">
                    <h4 class="admin-assessment-name">
                        <strong>{{ assessment.name }}</strong>
                        <span *ngIf="assessment.custom_activity_id" class="label label-info qc-label-custom"><span class="fa fa-cog" aria-hidden="true"></span> Custom</span>
                    </h4>
                </div>
                <div class="col-12 col-sm-6 col-sm-offset-1">
                    <a [href]="this.utilitiesService.setContextLink('../assessment/' + assessment.id + '/edit')" target="_self" id="assessment-edit-{{assessment.id}}" class="qc-edit-btn qc-quiz-edit-btn">
                        <span ng-include="$root.iconEditPath" aria-hidden="true"></span>
                        <span class="sr-only">
                            <span *ngIf="!this.readOnly">Edit </span>
                            <span *ngIf="this.readOnly">View </span>
                            quick check {{ assessment.name }}
                        </span>
                    </a>
                    <a [href]="'../assessment/' + assessment.id + '?preview=true'" target="_blank" class="qc-view-btn qc-quiz-preview-btn">
                        <span ng-include="$root.iconViewPath" aria-hidden="true"></span>
                        <span class="sr-only">Preview quick check {{ assessment.name }}</span>
                    </a>
                    <span class="qc-delete-btn qc-quiz-delete-btn" role="button" (click)="this.deleteAssessment(assessment.id, $index)" *ngIf="!this.readOnly">
                        <span ng-include="$root.iconDeletePath" aria-hidden="true"></span>
                        <span class="sr-only">Delete quick check {{ assessment.name }}</span>
                    </span>
                    <span class="qc-copy-btn qc-quiz-copy-btn" role="button" (click)="this.initCopyAssessment(assessment)" *ngIf="!this.readOnly">
                            <span ng-include="$root.iconCopyPath" aria-hidden="true"></span>
                            <span class="sr-only">Copy quick check {{ assessment.name }}</span>
                    </span>
                </div>
                <div class="row qc-quiz-copy-panel" *ngIf="assessment.isCopying">
                    <div class="col-10 col-offset-1 panel panel-default qc-assessment-copy-panel">
                        <h5 class="lead">Copy Quick Check <span class="sr-only">{{ assessment.name }}</span></h5>
                        <div *ngIf="this.memberships" [hidden]="assessment.copyData.copied">
                            <div class="form-group">
                                <label for="copy-assessment-{{assessment.id}}-collection">Set</label>
                                <select id="copy-assessment-{{assessment.id}}-collection"
                                    class="form-control qc-copy-quiz-collection"
                                    [(ngModel)]="assessment.copyData.collection_id"
                                    (ngModelChange)="this.onCopyAssessmentCollectionSelected(assessment)">
                                    <ng-container *ngFor="let membership of this.memberships">
                                        <option [ngValue]="membership.collection.id" *ngIf="membership.read_only !== 'true'">
                                            {{ membership.collection.name }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="copy-assessment-{{assessment.id}}-group">Subset</label>
                                <select id="copy-assessment-{{assessment.id}}-group"
                                    class="form-control qc-copy-quiz-assessment-group"
                                    [(ngModel)]="assessment.copyData.assessment_group_id">
                                    <option *ngFor="let assessmentGroup of assessment.copyData.assessmentGroups" [ngValue]="assessmentGroup.id">
                                        {{ assessmentGroup.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="copy-assessment-{{assessment.id}}-name">Name</label>
                                <input type="text" class="form-control qc-copy-quiz-name" [(ngModel)]="assessment.copyData.assessment_name">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-success qc-btn qc-copy-quiz-submit" type="submit" (click)="this.copyAssessment(assessment)">
                                    Copy
                                </button>
                                <button class="btn btn-sm btn-default qc-btn" type="button" (click)="this.copyAssessmentCancel(assessment)">
                                    Cancel
                                </button>
                            </div>
                        </div>
                        <div [hidden]="!assessment.copyData.copied">
                            <div class="alert alert-success" role="alert">
                                <p><strong>Success!</strong></p>
                            </div>
                            <div class="form-group">
                                <a [href]="assessment.copyData.editUrl" target="_self">
                                    <button class="btn btn-sm btn-primary qc-btn qc-quiz-copy-edit-btn" type="button">
                                        <span class="fa fa-pencil" aria-hidden="true"></span>
                                        Edit copied quick check
                                    </button>
                                </a>
                                <button class="btn btn-sm btn-default qc-btn" type="button" (click)="this.copyAssessmentCancel(assessment)">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg qc-btn qc-btn-add qc-btn-add-quiz" (click)="this.initNewAssessment()" [hidden]="!this.isAddingAssessment !== this.assessmentGroup.id" type="button" *ngIf="!this.readOnly"><span class="fa fa-plus" aria-hidden="true"></span> Add new quick check to subset <span class="sr-only">{{ this.assessmentGroup.name }}</span></button>
            <div class="row" *ngIf="this.isAddingAssessment">
                <div class="col-12 col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body qc-add-quiz-panel">
                            <h4 class="create-assessment-header qc-add-header" id="create-assessment-header-{{this.assessmentGroup.id}}" tabindex="-1">Create new quick check</h4>
                            <form (ngSubmit)="this.saveNewAssessment()">
                                <label for="new-assessment-{{this.assessmentGroup.id}}">Quick check name</label>
                                <input type="text" class="form-control"
                                        id="new-assessment-{{this.assessmentGroup.id}}"
                                        [(ngModel)]="this.newAssessment.name"
                                        required>
                                <hr>
                                <button type="submit" class="btn btn-sm btn-success qc-btn">Save <span class="sr-only">new quick check to subset {{this.assessmentGroup.name}}</span></button>
                                <button type="button" class="btn btn-sm btn-default qc-btn" (click)="this.newAssessmentCancel()">Cancel <span class="sr-only">adding new quick check to subset {{this.assessmentGroup.name}}</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>