<div class="card qc-accordion-panel qc-subset-panel">
    <div class="card-header" id="heading-group-{{this.assessmentGroup.id}}">
        <div class="qc-assessment-group-title">
            <h3 [hidden]="this.isEditing">{{ this.assessmentGroup.name }}</h3>
            <div *ngIf="this.isEditing" class="qc-edit-subset">
                <form ngNativeValidate (ngSubmit)="this.updateAssessmentGroup()" (click)="this.utilitiesService.preventToggle($event)">
                    <h3 class="edit-assessmentgroup-header sr-only" id="edit-assessmentgroup-header-{{this.assessmentGroup.id}}" tabindex="-1">Edit subset</h3>
                    <label for="assessment-group-name-{{this.assessmentGroup.id}}" class="sr-only">Subset name</label>
                    <input type="text" id="assessment-group-name-{{this.assessmentGroup.id}}" name="assessment-group-name-{{this.assessmentGroup.id}}" class="form-control qc-edit-subset-input" [(ngModel)]="this.editingData.name" required (click)="this.stopAccordion($event)">
                    <button type="button" class="btn btn-sm" (click)="this.editAssessmentGroupCancel()">Cancel <span class="sr-only">edits to subset {{this.assessmentGroup.name}}</span></button>
                </form>
            </div>
            <button class="qc-edit-btn qc-subset-edit-btn" (click)="this.editAssessmentGroup($event)" [hidden]="this.isEditing" *ngIf="!this.readOnly">
                <qc-edit-icon aria-hidden="true"></qc-edit-icon>
                <span class="sr-only">Edit subset {{this.assessmentGroup.name}}</span>
            </button>
            <button class="qc-delete-btn qc-subset-delete-btn" (click)="this.deleteAssessmentGroup($event)" *ngIf="!this.readOnly">
                <qc-delete-icon aria-hidden="true"></qc-delete-icon>
                <span class="sr-only">Delete subset {{this.assessmentGroup.name}}</span>
            </button>
        </div>
    </div>
        <div class="card-body">
            <p *ngIf="!this.assessmentGroup.assessments.length && !this.readOnly">There are currently no quick checks in this subset. Click the button to add a new quick check to the subset, and then edit the quick check to start adding questions.</p>
            <div class="row qc-quiz-row" *ngFor="let assessment of this.assessmentGroup.assessments; index as $index;">
                <div class="col-12 col-sm-5">
                    <h4 class="admin-assessment-name">
                        <strong>{{ assessment.name }}</strong>
                        <span *ngIf="assessment.custom_activity_id" class="badge badge-info qc-label-custom"><span class="fa fa-cog" aria-hidden="true"></span> Custom</span>
                    </h4>
                </div>
                <div class="col-12 col-sm-6 offset-sm-1">
                    <a [routerLink]="'/assessment/' + assessment.id + '/edit'" queryParamsHandling="preserve" target="_self" id="assessment-edit-{{assessment.id}}" class="qc-edit-btn qc-quiz-edit-btn">
                        <qc-edit-icon aria-hidden="true"></qc-edit-icon>
                        <span class="sr-only">
                            <span *ngIf="!this.readOnly">Edit </span>
                            <span *ngIf="this.readOnly">View </span>
                            quick check {{ assessment.name }}
                        </span>
                    </a>
                    <a [href]="'../assessment/' + assessment.id + '?preview=true'" target="_blank" class="qc-view-btn qc-quiz-preview-btn">
                        <qc-preview-icon aria-hidden="true"></qc-preview-icon>
                        <span class="sr-only">Preview quick check {{ assessment.name }}</span>
                    </a>
                    <button class="qc-delete-btn qc-quiz-delete-btn" (click)="this.deleteAssessment(assessment.id, $index)" *ngIf="!this.readOnly">
                        <qc-delete-icon aria-hidden="true"></qc-delete-icon>
                        <span class="sr-only">Delete quick check {{ assessment.name }}</span>
                    </button>
                    <button class="qc-copy-btn qc-quiz-copy-btn" id="qc-copy-button-{{assessment.id}}" (click)="this.initCopyAssessment(assessment)" *ngIf="!this.readOnly">
                            <qc-copy-icon aria-hidden="true"></qc-copy-icon>
                            <span class="sr-only">Copy quick check {{ assessment.name }}</span>
                    </button>
                </div>
                <div class="row qc-quiz-copy-panel w-100" *ngIf="assessment.isCopying">
                    <div class="col-10 offset-1">
                        <form class="card qc-assessment-copy-panel" ngNativeValidate (ngSubmit)="this.copyAssessment(assessment)">
                            <h5 class="lead">Copy Quick Check <span class="sr-only">{{ assessment.name }}</span></h5>
                            <div *ngIf="this.memberships" [hidden]="assessment.copyData.copied">
                                <div class="form-group">
                                    <label for="copy-assessment-{{assessment.id}}-collection">Set</label>
                                    <select id="copy-assessment-{{assessment.id}}-collection"
                                        name="copy-assessment-{{assessment.id}}-collection"
                                        class="form-control qc-copy-quiz-collection"
                                        [(ngModel)]="assessment.copyData.collection_id"
                                        (ngModelChange)="this.onCopyAssessmentCollectionSelected(assessment)">
                                        <ng-container *ngFor="let membership of this.memberships">
                                            <option [ngValue]="membership.collection.id" *ngIf="membership.read_only !== 'true'">
                                                {{ membership.collection.name }}
                                            </option>
                                        </ng-container>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="copy-assessment-{{assessment.id}}-group">Subset</label>
                                    <select id="copy-assessment-{{assessment.id}}-group"
                                        name="copy-assessment-{{assessment.id}}-group"
                                        class="form-control qc-copy-quiz-assessment-group"
                                        [(ngModel)]="assessment.copyData.assessment_group_id">
                                        <option *ngFor="let assessmentGroup of assessment.copyData.assessmentGroups" [ngValue]="assessmentGroup.id">
                                            {{ assessmentGroup.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="copy-assessment-{{assessment.id}}-name">Name</label>
                                    <input type="text" 
                                        class="form-control qc-copy-quiz-name"
                                        id="copy-assessment-{{assessment.id}}-name" 
                                        name="copy-assessment-{{assessment.id}}-name" 
                                        [(ngModel)]="assessment.copyData.assessment_name"
                                        required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success qc-btn qc-copy-quiz-submit" type="submit">
                                        Copy
                                    </button>
                                    <button class="btn btn-sm btn-outline-dark qc-btn" type="button" (click)="this.copyAssessmentCancel(assessment)">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <div [hidden]="!assessment.copyData.copied">
                                <div class="alert alert-success" role="alert">
                                    <p><strong>Success!</strong></p>
                                </div>
                                <div class="form-group">
                                    <a [href]="assessment.copyData.editUrl" target="_self" class="btn btn-sm btn-primary qc-btn qc-quiz-copy-edit-btn">
                                            <span class="fa fa-pencil" aria-hidden="true"></span>
                                            Edit copied quick check
                                    </a>
                                    <button class="btn btn-sm btn-outline-dark qc-btn" type="button" (click)="this.copyAssessmentCancel(assessment)">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button class="btn btn-lg qc-btn qc-btn-add qc-btn-add-quiz" (click)="this.initNewAssessment()" [hidden]="this.isAddingAssessment" type="button" *ngIf="!this.readOnly"><span class="fa fa-plus" aria-hidden="true"></span> Add new quick check to subset <span class="sr-only">{{ this.assessmentGroup.name }}</span></button>
            <div class="row" *ngIf="this.isAddingAssessment">
                <div class="col-12 col-sm-6">
                    <div class="card">
                        <div class="card-body qc-add-quiz-panel">
                            <h4 class="create-assessment-header qc-add-header" id="create-assessment-header-{{this.assessmentGroup.id}}" tabindex="-1">Create new quick check</h4>
                            <form ngNativeValidate (ngSubmit)="this.saveNewAssessment()">
                                <label for="new-assessment-{{this.assessmentGroup.id}}">Quick check name</label>
                                <input type="text" class="form-control"
                                        id="new-assessment-{{this.assessmentGroup.id}}"
                                        name="new-assessment-{{this.assessmentGroup.id}}"
                                        [(ngModel)]="this.newAssessment.name"
                                        required>
                                <hr>
                                <button type="submit" class="btn btn-sm btn-success qc-btn">Save <span class="sr-only">new quick check to subset {{this.assessmentGroup.name}}</span></button>
                                <button type="button" class="btn btn-sm btn-outline-dark qc-btn" (click)="this.newAssessmentCancel()">Cancel <span class="sr-only">adding new quick check to subset {{this.assessmentGroup.name}}</span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>