<div class="qc-matrix-options">
    <p class="lead qc-edit-instructions">A matrix question is formatted as a table, with answer options in a grid of columns and rows. Each row must match to a column. Only one column option may be selected by the student for each row. However, column options can be used multiple times in different rows.</p>
    <button class="btn btn-sm btn-primary qc-btn" type="button" (click)="this.addColumn()" *ngIf="!this.readOnly">
        <span class="fa fa-plus" aria-hidden="true"></span> Add column
        <span class="sr-only">to question #{{ this.question.question_order }}</span>
    </button>
    <button class="btn btn-sm btn-primary qc-btn" type="button" (click)="this.addRow()" *ngIf="!this.readOnly">
        <span class="fa fa-plus" aria-hidden="true"></span> Add row
        <span class="sr-only">to question #{{ this.question.question_order }}</span>
    </button>
    <table class="table table-striped table-bordered qc-matrix-entry-table" [hidden]="!this.question.columns.length && !this.question.rows.length">
        <thead>
            <tr>
                <th scope="col"><span class="sr-only">Row name</span></th>
                <th *ngFor="let column of this.question.columns; index as $index;" class="qc-matrix-row-header qc-edit-matrix-column" scope="col">
                    <div class="qc-matrix-header-container">
                        <label for="matrix-{{question.id}}-column-{{column.id}}" class="sr-only">
                            Column text
                            <span class="sr-only"> for question #{{ this.question.question_order }}, column #{{ $index + 1 }}</span>:
                        </label>
                        <input type="text" id="matrix-{{question.id}}-column-{{column.id}}" class="form-control"
                            [(ngModel)]="column.answer_text"
                            (ngModelChange)="this.onEdited()"
                            required
                            [disabled]="this.readOnly">
                        <qc-delete-option-btn
                            [index]="$index"
                            (onDelete)="this.deleteColumn($event)"
                            [option]="column"
                            [optionTypeText]="'matrix column'"
                            [question]="this.question"
                            *ngIf="!this.readOnly">
                        </qc-delete-option-btn>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of this.question.rows; index as $index;" class="qc-edit-matrix-row">
                <td>
                    <div class="qc-matrix-header-container">
                        <label for="matrix-{{question.id}}-row-{{row.id}}" class="sr-only">
                            Row text
                            <span class="sr-only"> for question #{{ this.question.question_order }}, row #{{ $index + 1 }}</span>:
                        </label>
                        <input type="text" id="matrix-{{question.id}}-row-{{row.id}}" class="form-control"
                            [(ngModel)]="row.answer_text"
                            (ngModelChange)="this.onEdited()"
                            required
                            [disabled]="this.readOnly">
                        <qc-delete-option-btn
                            [index]="$index"
                            (onDelete)="this.deleteRow($event)"
                            [option]="row"
                            [optionTypeText]="'matrix row'"
                            [question]="this.question"
                            *ngIf="!this.readOnly">
                        </qc-delete-option-btn>
                    </div>
                </td>
                <td *ngFor="let column of this.question.columns">
                    <div class="checkbox">
                        <p class="sr-only" id="matrixrow-{{question.id}}-{{row.id}}-column-{{column.id}}">Check this box to match {{row.answer_text}} to {{column.answer_text}}</p>
                        <label>
                            <input type="radio" name="{{row.id}}" value="{{column.answer_text}}"
                                [checked]="row.columnAnswerId == column.id"
                                (click)='this.onSelect(column.id, row)'
                                [attr.aria-labelledby]="'matrixrow-' + row.id + '-column-' + column.id"
                                [disabled]="this.readOnly">
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <qc-custom-feedback *ngIf="!this.readOnly"
        (onQuestionEdited)="this.onSubComponentEdited($event)"
        [question]="this.question">
    </qc-custom-feedback>
    <qc-randomize-checkbox
        (onQuestionEdited)="this.onSubComponentEdited($event)"
        [question]="this.question"
        [readOnly]="this.readOnly">
    </qc-randomize-checkbox>
</div>