<div class="card qc-select-collection">
    <div class="card-header" role="tab" id="heading-group-{{this.collection.id}}" role="button"
        [attr.href]="'#collapse-group-' + this.collection.id" [attr.aria-expanded]="this.collection.closed ? 'false' : 'true'"
        [attr.aria-controls]="'collapse-group-' + this.collection.id" (click)="this.collection.closed = !this.collection.closed">
        <h3>
            <span class="fa" [ngClass]="this.collection.closed ? 'fa-caret-right' : 'fa-caret-down'" aria-hidden="true"></span>
            {{ this.collection.name }}
        </h3>
    </div>
    <div id="collapse-group-{{this.collection.id}}" class="collapse in" role="tabpanel" [attr.aria-labelledby]="'heading-group-' + this.collection.id" [collapse]="this.collection.closed" [isAnimated]="true">
        <div class="card-body">
            <div *ngFor="let assessmentGroup of this.collection.assessment_groups" class="qc-select-assessment-group">
                <h4>{{assessmentGroup.name}}</h4>
                <div class="row qc-select-assessment" *ngFor="let assessment of assessmentGroup.assessments">
                    <div class="col-6 qc-select-row">
                        <h5 class="admin-assessment-name">
                            {{ assessment.name }}
                            <span *ngIf="assessment.custom_activity_id" class="badge badge-info qc-label-custom">Custom</span>
                        </h5>
                    </div>
                    <div class="col-6 qc-select-row">
                        <qc-select-assessment
                            [assessment]="assessment"
                            [launchUrlStem]="this.launchUrlStem"
                            [redirectUrl]="this.redirectUrl"
                            [deploymentId]="this.deploymentId"
                            [collectionService]="this.collectionService"
                            [utilitiesService]="this.utilitiesService">
                        </qc-select-assessment>
                    </div>
                </div>
                <div *ngIf="!assessmentGroup.assessments.length">
                    <h5>There are no quick checks in this subset. You can add a quick check by clicking on the quick check tool in the course navigation.</h5>
                </div>
                <hr>
            </div>
            <div class="row" *ngIf="!this.collection.assessment_groups.length">
                <div class="col-12">
                    <p>There are no subsets in this set.</p>
                </div>
            </div>
        </div>
    </div>
</div>