<div class="qc-home-page">
    <qc-nav [currentPage]="this.currentPage" aria-label="Quick Check"></qc-nav>
    <main class="container-fluid" aria-label="Quick Check">
        <div class="row">
            <qc-error-message *ngIf="this.utilitiesService.errorFound" [utilitiesService]="this.utilitiesService"></qc-error-message>
            <div class="alert alert-warning text-center" *ngIf="this.sessionExpired">
                <p class="lead"><span class="fa fa-exclamation" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Your session has expired due to inactivity.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-7 qc-home-hero">
                <button class="btn qc-hero-add-btn" (click)="this.addAssessment()" [hidden]="this.isAddingAssessment" type="button">Add Quick Check</button>
                <qc-quick-add *ngIf="this.isAddingAssessment"
                    (onCancel)="this.cancelAdd($event)"
                    [utilitiesService]="this.utilitiesService">
                </qc-quick-add>
            </div>
        </div>
    </main>
</div>