<div class="row">
    <div class="col-12">
        <div class="row text-center">
            <div class="qc-progress-wrapper">
                <div round-progress
                    max="100"
                    current="this.correctPercentage"
                    color="#449D44"
                    bgcolor="#eaeaea"
                    radius="75"
                    stroke="15"
                    animation-delay="500">
                </div>
                <div class="text question-percentage-score lead"><span class="fa fa-lg fa-check qc-correct-icon" aria-hidden="true"></span><br>{{ this.correctPercentage }}% <span class="sr-only">answered correctly</span></div>
            </div>
        </div>
        <p ng-bind-html="this.question.question_text" class="lead qc-analytics-question-text"></p>
        <div *ngIf="this.question.question_type == 'multiple_choice' || this.question.question_type == 'multiple_correct'">
            <table class="table">
                <thead class="sr-only">
                    <tr>
                        <th>Option</th>
                        <th>Percentage who chose this option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let option of this.question.options" [ngClass]="option.correct == 'true' ? 'success' : 'active'">
                        <td class="qc-analytics-mc-option">{{ option.answer_text }}</td>
                        <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                            <div [ngClass]="option.correct == 'true' ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width:{{option.responseAnalytics.percentSelected / 100 * this.fullBarWidth}}px">
                                <span class="qc-analytics-percentage">{{ option.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="this.question.question_type == 'matching'">
            <ng-container *ngFor="let option of this.question.options">
                <div *ngIf="option.prompt_or_answer == 'prompt'">
                    <p class="qc-analytics-matching-prompt">{{ option.option_text }}:</p>
                    <table class="table">
                        <thead class="sr-only">
                            <tr>
                                <th>Option</th>
                                <th>Percentage who chose this option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let answer of option.answers" [ngClass]="option.matching_answer_text == answer.option_text ? 'success' : 'active'">
                                <td class="qc-analytics-matching-answer">{{ answer.option_text }}</td>
                                <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                                    <div [ngClass]="option.matching_answer_text == answer.option_text ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width: {{ answer.responseAnalytics.percentSelected / 100 * this.fullBarWidth }}px">
                                        <span class="qc-analytics-percentage">{{ answer.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
        <div *ngIf="this.question.question_type == 'dropdown'">
            <ng-container *ngFor="let option of this.question.options">
                <div *ngIf="option.prompt_or_answer == 'prompt'">
                    <p class="qc-analytics-dropdown-prompt">{{ option.answer_text }}:</p>
                    <table class="table">
                        <thead class="sr-only">
                            <tr>
                                <th>Option</th>
                                <th>Percentage who chose this option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let answer of option.answers" [ngClass]="option.dropdown_answer_text == answer.answer_text ? 'success' : 'active'">
                                <td class="qc-analytics-dropdown-answer">{{answer.answer_text}}</td>
                                <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                                    <div [ngClass]="option.dropdown_answer_text == answer.answer_text ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width: {{ answer.responseAnalytics.percentSelected / 100 * this.fullBarWidth }}px">
                                        <span class="qc-analytics-percentage">{{ answer.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
        <div *ngIf="this.question.question_type == 'matrix'">
            <ng-container *ngFor="let option of this.question.options">
                <div *ngIf="option.row_or_column == 'row'">
                    <p class='qc-analytics-matrix-row'>{{ option.answer_text }}:</p>
                    <table class="table">
                        <thead class="sr-only">
                            <tr>
                                <th>Option</th>
                                <th>Percentage who chose this option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let column of option.columns" [ngClass]="option.matrix_answer_text == column.answer_text ? 'success' : 'active'">
                                <td class="qc-analytics-matrix-column">{{ column.answer_text }}</td>
                                <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                                    <div [ngClass]="option.matrix_answer_text == column.answer_text ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width: {{ column.responseAnalytics.percentSelected  / 100 * this.fullBarWidth }}px">
                                        <span class="qc-analytics-percentage">{{ column.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
        <div *ngIf="this.question.question_type == 'textmatch'">
            <table class="table">
                <thead class="sr-only">
                    <tr>
                        <th>Option</th>
                        <th>Percentage who chose this option</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- correct options -->
                    <tr *ngFor="let option of this.question.options" class="success">
                        <td class="qc-analytics-textmatch-answer">{{ option.textmatch_answer_text }}</td>
                        <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-correct-bar" style="width: {{ option.responseAnalytics.percentSelected / 100 * this.fullBarWidth }}px">
                                <span class="qc-analytics-percentage">{{ option.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                    <!-- all other student responses -->
                    <tr class="active" *ngIf="this.question.questionAnalytics.otherResponses.length">
                        <td>
                            <div class="form-group">
                                Other responses&nbsp;
                                <button type="button" class="btn btn-default btn-xs qc-btn qc-other-responses-btn" (click)="this.toggleResponses(this.question)">See list of other responses</button>
                            </div>
                            <div class="well" *ngIf="this.question.responsesVisible">
                                <ul>
                                    <li *ngFor="let response of this.question.questionAnalytics.otherResponses; index as $index;">{{ response }}</li>
                                </ul>
                            </div>
                        </td>
                        <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-incorrect-bar" style="width: {{this.getOtherResponsesPercentage(this.question) / 100 * this.fullBarWidth}}px">
                                <span class="qc-analytics-percentage">{{ this.getOtherResponsesPercentage(this.question) }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="this.question.question_type == 'numerical'">
            <table class="table">
                <thead class="sr-only">
                    <tr>
                        <th>Option</th>
                        <th>Percentage who chose this option</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- correct options -->
                    <tr *ngFor="let option of this.question.options" class="success">
                        <td class="qc-analytics-numerical-answer">
                            <span *ngIf="option.answer_type === 'exact'">
                                {{option.numerical_answer}}, with margin of error of {{ option.margin_of_error }}
                            </span>
                            <span *ngIf="option.answer_type === 'range'">
                                Between {{ option.range_min }} and {{ option.range_max }}
                            </span>
                        </td>
                        <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-correct-bar" style="width: {{ option.responseAnalytics.percentSelected / 100 * this.fullBarWidth }}px">
                                <span class="qc-analytics-percentage">{{ option.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                    <!-- all other student responses -->
                    <tr class="active" *ngIf="this.question.questionAnalytics.otherResponses.length">
                        <td>
                            <div class="form-group">
                                Other responses&nbsp;
                                <button type="button" class="btn btn-default btn-xs qc-btn qc-other-responses-btn" (click)="this.toggleResponses(this.question)">See list of other responses</button>
                            </div>
                            <div class="well" *ngIf="this.question.responsesVisible">
                                <ul>
                                    <li *ngFor="let response of this.question.questionAnalytics.otherResponses; index as $index;">{{ response }}</li>
                                </ul>
                            </div>
                        </td>
                        <td width="{{this.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-incorrect-bar" style="width: {{this.getOtherResponsesPercentage(this.question) / 100 * this.fullBarWidth}}px">
                                <span class="qc-analytics-percentage">{{ this.getOtherResponsesPercentage(this.question) }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>