<div class="dropdown-options">
    <fieldset [attr.aria-labelledby]="'qc-question-' + currentQuestion.id">
    <legend class="sr-only">Multiple Dropdown Question</legend>
    <div class="lead qc-assessment-question" 
            [id]="'qc-question-' + currentQuestion.id" 
            [innerHTML]="this.currentQuestion.question_text | safe: 'html'">
    </div>
    <div class="row">
        <div class="col-12" aria-hidden="true">
            <p class="qc-selectable-answer-option-text">Options: </p>
            <span *ngFor="let selectableAnswer of selectableAnswers"
                class="badge qc-selectable-answer-option"
                [ngClass]="isAnswerUsed(selectableAnswer) ? 'badge-secondary' : 'badge-primary'">{{selectableAnswer.answer_text}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="sr-only">Note for screenreader users: in this question type, answers are removed as possibilities after they have been selected. If you selected an answer by mistake, please reset the combo box to the blank option to allow the answer to be used again.</p>
            <span *ngFor="let prompt of this.prompts | orderBy: 'answer_order'" class="qc-dropdown-section">
                <label [for]="'select-' + prompt.id">
                    <span class="sr-only">Fill in the blank for: </span><span [innerHTML]="prompt.answer_text | safe: 'html'"></span>
                </label>
                <select [(ngModel)]="prompt.selected_answer"
                    (ngModelChange)="onAnswerSelected(prompt)"
                    class="form-control"
                    [id]="'select-' + prompt.id"
                    [attr.aria-describedby]="getSelectableAnswerTextById(prompt.selected_answer)"
                    [attr.tabindex]="modalVisible ? -1 : 0">
                    <option value="">Select an answer...</option> <!-- blank option -->
                    <option *ngFor="let selectableAnswer of selectableAnswers"
                            [value]="selectableAnswer.id"
                            [innerHTML]="selectableAnswer.answer_text | safe: 'html'"
                            [hidden]="isAnswerUsed(selectableAnswer) && prompt.selected_answer !== selectableAnswer.id">
                    </option>
                </select>
            </span>
        </div>
    </div>
    </fieldset>
</div>
