<div class="dropdown-options">
    <p class="lead qc-assessment-question" ng-bind-html="this.currentQuestion.question_text"></p>
    <div class="row">
        <div class="col-12" aria-hidden="true">
            <p class="qc-selectable-answer-option-text">Options: </p>
            <span *ngFor="let selectableAnswer of this.selectableAnswers"
                class="label qc-selectable-answer-option"
                [ngClass]="this.isAnswerUsed(selectableAnswer) ? 'label-default' : 'label-primary'">{{selectableAnswer.answer_text}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- TODO: replace orderBy for angular 2, original: <span ng-repeat="prompt in vm.prompts | orderBy: 'answer_order'" class="qc-dropdown-section"> -->
            <span *ngFor="let prompt of this.prompts" class="qc-dropdown-section">
                <label ng-bind-html="prompt.answer_text" for="{{'select-' + prompt.id}}"></label>
                <select [(ngModel)]="prompt.selected_answer"
                    (ngModelChange)="this.onAnswerSelected(prompt)"
                    class="form-control"
                    id="{{'select-' + prompt.id}}"
                    [attr.aria-described-by]="this.getSelectableAnswerTextById(prompt.selected_answer)">
                    <option></option> <!-- blank option -->
                    <option *ngFor="let selectableAnswer of this.selectableAnswers"
                            value="{{selectableAnswer.id}}"
                            ng-bind-html="selectableAnswer.answer_text"
                            [hidden]="!!this.isAnswerUsed(selectableAnswer)">
                    </option>
                </select>
            </span>
        </div>
    </div>
</div>
