.qc-btn-add-feedback {
    margin-left: 10px;
}

.qc-custom-feedback-container {
    margin-top: 10px;
}

.qc-custom-feedback-correct {
    color: $success-green;

    textarea {
        border: 1px solid $success-green;
    }
}

.qc-custom-feedback-incorrect {
    color: $danger-red;

    textarea {
        border: 1px solid $danger-red;
    }
}

.qc-custom-feedback-general {
    .form-group {
        float: left;
        margin-right: 20px;
        width: 35%;
    }
}

.qc-custom-feedback-response-checkbox {
    clear: both;
}

.qc-delete-feedback-btn {
    float: right;
}
