<div>
    <h3 class="qc-question-options-header">Question options <span class="sr-only">for question #{{ this.question.question_order }}</span></h3>
    <qc-rich-content-toggle *ngIf="!this.readOnly"
        qc-on-rich-content-toggle="this.onRichContentToggle($event)"
        qc-question="this.question"
        qc-toggle-type="'options'">
    </qc-rich-content-toggle>
    <div *ngFor="let option of this.question.options; index as $index;"
        [ngClass]="{'qc-rich-content-toggled' : this.isRichContentToggled }">
        <!-- include id on label for tinymce to use aria-labelled by; having an id set
             on the tinymce element is not allowed in the angular implementation -->
        <label for="mc-option-{{this.question.id}}-{{option.id}}"
            id="mc-option-{{this.question.id}}-{{option.id}}-label">
            Option #{{ $index + 1 }}
            <span class="sr-only">for question #{{ this.question.question_order }}</span>
        </label>
        <qc-toggle-correct-btn
            qc-index="$index"
            qc-on-toggle-correct="this.toggleCorrect($event)"
            qc-option="option"
            qc-question="this.question"
            *ngIf="this.isRichContentToggled">
        </qc-toggle-correct-btn>
        <qc-delete-option-btn
            qc-index="$index"
            qc-on-delete="this.deleteOption($event)"
            qc-option="option"
            qc-option-type-text="'multiple choice option'"
            qc-question="this.question"
            *ngIf="!this.readOnly && this.isRichContentToggled">
        </qc-delete-option-btn>
        <div class="qc-edit-assessment-inline">
            <input type="text" id="mc-option-{{this.question.id}}-{{option.id}}"
                *ngIf="!this.isRichContentToggled"
                [(ngModel)]="option.answer_text"
                (ngModelChange)="this.onEdited()"
                class="form-control"
                required
                [disabled]="this.readOnly">
            <textarea ui-tinymce="this.tinymceOptions"
                *ngIf="this.isRichContentToggled"
                [attr.aria-labelled-by]="'mc-option-' + this.question.id + '-' + option.id + '-label'"
                [(ngModel)]="option.answer_text"
                (ngModelChange)="this.onEdited()"
                required>
            </textarea>
            <!-- put correct icon after text input, but float to the left; so that way, sighted users see it from left to right in a way that visually makes sense, but screenreader users see it after, so when they create a new option, focus is moved to the text input, and then they can select if they want it to be correct or not. Otherwise, if we moved focus to the text input and the correct symbol came before, the user would not be aware of its existence -->
            <qc-toggle-correct-btn
                qc-index="$index"
                qc-on-toggle-correct="this.toggleCorrect($event)"
                qc-option="option"
                qc-question="this.question"
                *ngIf="!this.isRichContentToggled">
            </qc-toggle-correct-btn>
            <qc-delete-option-btn
                qc-index="$index"
                qc-on-delete="this.deleteOption($event)"
                qc-option="option"
                qc-option-type-text="'multiple choice option'"
                qc-question="this.question"
                *ngIf="!this.readOnly && !this.isRichContentToggled">
            </qc-delete-option-btn>
        </div>
    </div>
    <hr>
    <button class="btn btn-sm btn-primary qc-btn" type="button"
        (click)="this.addOption(false)"
        *ngIf="!this.readOnly">
        <span class="fa fa-plus" aria-hidden="true"></span> Add option
        <span class="sr-only">for question #{{ this.question.question_order }}</span>
    </button>
    <qc-custom-feedback *ngIf="!this.readOnly"
        qc-on-question-edited="this.onSubComponentEdited($event)"
        qc-question="this.question">
    </qc-custom-feedback>
    <qc-randomize-checkbox
        qc-on-question-edited="this.onSubComponentEdited($event)"
        qc-question="this.question"
        qc-read-only="this.readOnly">
    </qc-randomize-checkbox>
    <div class="checkbox">
        <input type="checkbox" id="multiple-correct-{{this.question.id}}"
            (click)="this.toggleMultipleCorrect()"
            [disabled]="this.readOnly"
            ng-checked="this.isMultipleCorrect()">
        <label for="multiple-correct-{{this.question.id}}">Multiple correct <span class="sr-only">for question #{{ this.question.question_order }} </span>(question keeps radio buttons and only allows a single answer, but students can get credit for any of the responses marked correct)</label>
    </div>
</div>
