<table class="table table-condensed table-striped qc-attempts-table">
    <thead>
        <th *ngIf="!this.isStudent">Name</th>
        <th>Last Milestone</th>
        <th class="success text-center">Correct</th>
        <th class="danger text-center">Incorrect</th>
        <th>Score</th>
        <th class="text-center">Complete</th>
        <th class="text-center">Past Due</th>
        <th>Start Time</th>
        <th>Elapsed Time</th>
        <th *ngIf="this.showResponses">Responses</th>
        <th *ngIf="!this.isStudent && !this.largeClassSize">Grade</th>
    </thead>
    <tbody infinite-scroll='this.loadMoreAttempts()'>
        <tr *ngFor="let attempt of this.attempts | slice:0:this.numAttemptsDisplayed; index as $index;"
            [ngClass]="{'qc-no-top-border': !attempt.firstRowForStudent}">
            <td class="qc-attempt-name" *ngIf="!this.isStudent">
                <span *ngIf="attempt.firstRowForStudent">{{ attempt.student.lis_person_name_family }}, {{ attempt.student.lis_person_name_given }}</span>
            </td>
            <td>{{ attempt.last_milestone }}</td>
            <td class="success text-center qc-attempt-count-correct">{{ this.getCountCorrect(attempt) }}</td>
            <td class="danger text-center qc-attempt-count-incorrect">{{ this.getCountIncorrect(attempt) }}</td>
            <td class="qc-attempt-calculated-score">{{ this.getCalculatedScore(attempt) | number : 0 }}%</td>
            <td class="text-center qc-attempt-complete">
                <span *ngIf="attempt.complete == 1">
                    <span class="fa fa-check qc-attempt-completed" aria-hidden="true"></span>
                    <span class="sr-only">Complete</span></span>
            </td>
            <td class="text-center qc-attempt-late-cell">
                <span *ngIf="attempt.isLate">
                    <span class="fa fa-clock-o qc-attempt-late" aria-hidden="true"></span>
                    <span class="sr-only">Late Submission</span>
                </span>
            </td>
            <td>{{ this.utilitiesService.formatTimeWithTimeZone(attempt.created_at, this.courseContext.time_zone) }}</td>
            <td class="qc-attempt-elapsed-time">{{ this.dateDiff(attempt.created_at, attempt.updated_at) }}</td>
            <td *ngIf="this.showResponses">
                <a class="btn btn-primary btn-xs qc-btn qc-btn-view-responses" role="button" type="button" (click)="this.viewResponses(attempt)" *ngIf="this.responsesAvailable(attempt)">
                    View Responses
                    <span class="sr-only">for <span *ngIf="!this.isStudent">{{ attempt.student.lis_person_name_given }} {{ attempt.student.lis_person_name_family }}'s </span>attempt beginning at {{ this.utilitiesService.formatTimeWithTimeZone(attempt.created_at, this.courseContext.time_zone) }}</span>
                </a>
            </td>
            <td class="qc-attempt-grade" *ngIf="!this.isStudent && !this.largeClassSize">
                <span *ngIf="attempt.firstRowForStudent">
                    <span *ngIf="this.gradesLoading">
                        <span class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></span>
                        <span class="sr-only">Grades loading, please wait.</span>
                    </span>
                    <qc-grade *ngIf="!this.gradesLoading"
                        qc-attempt="attempt"
                        qc-points-possible="this.pointsPossible"
                        qc-submissions="this.submissions"
                        qc-users="this.users"
                        qc-utilitiesService="this.utilitiesService">
                    </qc-grade>
                </span>
            </td>
        </tr>
    </tbody>
</table>