//nested list styling
//source: http://stackoverflow.com/questions/29063244/consistent-styling-for-nested-lists-with-bootstrap
//modifications made for linting purposes
.just-padding {
    padding: 15px;
}

.list-group-root {
    overflow: hidden;
    padding: 0;

    .list-group {
        margin-bottom: 0;

        .list-group-item {
            font-size: .9em; //M. Mallon -- added this, smaller font
            padding-left: 30px;
        }
    }

    .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0;
        text-decoration: none; //a11y link underline not necessary for obvious link groups
    }
}
