<span class="fa fa-lg qc-correct-symbol"
    [ngClass]="{
        'fa-check-circle-o' : this.isMultipleChoice(),
        'fa-check-square-o' : this.isMultipleCorrect(),
        'qc-selected-correct' : this.isCorrect(),
        'qc-selected-incorrect': !this.isCorrect()
    }"
    role="button" tabindex="0"
    (click)="this.toggleCorrect()">
    <label class="sr-only" id="mc-option-{{this.question.id}}-{{this.option.id}}-correct">
        Mark option #{{ this.index + 1 }}
        <span *ngIf="this.isCorrect()">correct</span>
        <span *ngIf="!this.isCorrect()">incorrect</span>
        for question #{{ this.question.question_order }}
    </label>
</span>