<div class="row">
    <div class="col-xs-12">
        <div class="row text-center">
            <div class="qc-progress-wrapper">
                <div round-progress
                    max="100"
                    current="vm.correctPercentage"
                    color="#449D44"
                    bgcolor="#eaeaea"
                    radius="75"
                    stroke="15"
                    animation-delay="500">
                </div>
                <div class="text question-percentage-score lead"><span class="fa fa-lg fa-check qc-correct-icon" aria-hidden="true"></span><br>{{ vm.correctPercentage }}% <span class="sr-only">answered correctly</span></div>
            </div>
        </div>
        <p ng-bind-html="vm.question.question_text" class="lead qc-analytics-question-text"></p>
        <div ng-if="vm.question.question_type == 'multiple_choice' || vm.question.question_type == 'multiple_correct'">
            <table class="table">
                <thead class="sr-only">
                    <tr>
                        <th>Option</th>
                        <th>Percentage who chose this option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="option in vm.question.options" ng-class="option.correct == 'true' ? 'success' : 'active'">
                        <td class="qc-analytics-mc-option">{{ option.answer_text }}</td>
                        <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                            <div ng-class="option.correct == 'true' ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width:{{option.responseAnalytics.percentSelected / 100 * vm.fullBarWidth}}px">
                                <span class="qc-analytics-percentage">{{ option.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="vm.question.question_type == 'matching'">
            <div ng-repeat="option in vm.question.options" ng-if="option.prompt_or_answer == 'prompt'">
                <p class="qc-analytics-matching-prompt">{{ option.option_text }}:</p>
                <table class="table">
                    <thead class="sr-only">
                        <tr>
                            <th>Option</th>
                            <th>Percentage who chose this option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="answer in option.answers" ng-class="option.matching_answer_text == answer.option_text ? 'success' : 'active'">
                            <td class="qc-analytics-matching-answer">{{ answer.option_text }}</td>
                            <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                                <div ng-class="option.matching_answer_text == answer.option_text ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width: {{ answer.responseAnalytics.percentSelected / 100 * vm.fullBarWidth }}px">
                                    <span class="qc-analytics-percentage">{{ answer.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="vm.question.question_type == 'dropdown'">
            <div ng-repeat="option in vm.question.options" ng-if="option.prompt_or_answer == 'prompt'">
                <p class="qc-analytics-dropdown-prompt">{{ option.answer_text }}:</p>
                <table class="table">
                    <thead class="sr-only">
                        <tr>
                            <th>Option</th>
                            <th>Percentage who chose this option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="answer in option.answers" ng-class="option.dropdown_answer_text == answer.answer_text ? 'success' : 'active'">
                            <td class="qc-analytics-dropdown-answer">{{answer.answer_text}}</td>
                            <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                                <div ng-class="option.dropdown_answer_text == answer.answer_text ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width: {{ answer.responseAnalytics.percentSelected / 100 * vm.fullBarWidth }}px">
                                    <span class="qc-analytics-percentage">{{ answer.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="vm.question.question_type == 'matrix'">
            <div ng-repeat="option in vm.question.options" ng-if="option.row_or_column == 'row'">
                <p class='qc-analytics-matrix-row'>{{ option.answer_text }}:</p>
                <table class="table">
                    <thead class="sr-only">
                        <tr>
                            <th>Option</th>
                            <th>Percentage who chose this option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="column in option.columns" ng-class="option.matrix_answer_text == column.answer_text ? 'success' : 'active'">
                            <td class="qc-analytics-matrix-column">{{ column.answer_text }}</td>
                            <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                                <div ng-class="option.matrix_answer_text == column.answer_text ? 'qc-correct-bar' : 'qc-incorrect-bar'" style="width: {{ column.responseAnalytics.percentSelected  / 100 * vm.fullBarWidth }}px">
                                    <span class="qc-analytics-percentage">{{ column.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="vm.question.question_type == 'textmatch'">
            <table class="table">
                <thead class="sr-only">
                    <tr>
                        <th>Option</th>
                        <th>Percentage who chose this option</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- correct options -->
                    <tr ng-repeat="option in vm.question.options" class="success">
                        <td class="qc-analytics-textmatch-answer">{{ option.textmatch_answer_text }}</td>
                        <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-correct-bar" style="width: {{ option.responseAnalytics.percentSelected / 100 * vm.fullBarWidth }}px">
                                <span class="qc-analytics-percentage">{{ option.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                    <!-- all other student responses -->
                    <tr class="active" ng-if="vm.question.questionAnalytics.otherResponses.length">
                        <td>
                            <div class="form-group">
                                Other responses&nbsp;
                                <button type="button" class="btn btn-default btn-xs qc-btn qc-other-responses-btn" ng-click="vm.toggleResponses(vm.question)">See list of other responses</button>
                            </div>
                            <div class="well" ng-if="vm.question.responsesVisible">
                                <ul>
                                    <li ng-repeat="response in vm.question.questionAnalytics.otherResponses track by $index">{{ response }}</li>
                                </ul>
                            </div>
                        </td>
                        <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-incorrect-bar" style="width: {{vm.getOtherResponsesPercentage(vm.question) / 100 * vm.fullBarWidth}}px">
                                <span class="qc-analytics-percentage">{{ vm.getOtherResponsesPercentage(vm.question) }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="vm.question.question_type == 'numerical'">
            <table class="table">
                <thead class="sr-only">
                    <tr>
                        <th>Option</th>
                        <th>Percentage who chose this option</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- correct options -->
                    <tr ng-repeat="option in vm.question.options" class="success">
                        <td class="qc-analytics-numerical-answer">
                            <span ng-if="option.answer_type === 'exact'">
                                {{option.numerical_answer}}, with margin of error of {{ option.margin_of_error }}
                            </span>
                            <span ng-if="option.answer_type === 'range'">
                                Between {{ option.range_min }} and {{ option.range_max }}
                            </span>
                        </td>
                        <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-correct-bar" style="width: {{ option.responseAnalytics.percentSelected / 100 * vm.fullBarWidth }}px">
                                <span class="qc-analytics-percentage">{{ option.responseAnalytics.percentSelected }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                    <!-- all other student responses -->
                    <tr class="active" ng-if="vm.question.questionAnalytics.otherResponses.length">
                        <td>
                            <div class="form-group">
                                Other responses&nbsp;
                                <button type="button" class="btn btn-default btn-xs qc-btn qc-other-responses-btn" ng-click="vm.toggleResponses(vm.question)">See list of other responses</button>
                            </div>
                            <div class="well" ng-if="vm.question.responsesVisible">
                                <ul>
                                    <li ng-repeat="response in vm.question.questionAnalytics.otherResponses track by $index">{{ response }}</li>
                                </ul>
                            </div>
                        </td>
                        <td width="{{vm.fullBarWidth}}px" class="qc-graph-cell">
                            <div class="qc-incorrect-bar" style="width: {{vm.getOtherResponsesPercentage(vm.question) / 100 * vm.fullBarWidth}}px">
                                <span class="qc-analytics-percentage">{{ vm.getOtherResponsesPercentage(vm.question) }}% <span class="sr-only">selected this option</span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>