<label class="sr-only" id="mc-option-{{vm.question.id}}-{{vm.option.id}}-correct">
    Mark option #{{ vm.index + 1 }}
    <span ng-if="vm.isCorrect()">correct</span>
    <span ng-if="!vm.isCorrect()">incorrect</span>
    for question #{{ vm.question.question_order }}
</label>
<span class="fa fa-lg qc-correct-symbol"
    ng-class="{
        'fa-check-circle-o' : vm.isMultipleChoice(),
        'fa-check-square-o' : vm.isMultipleCorrect(),
        'qc-selected-correct' : vm.isCorrect(),
        'qc-selected-incorrect': !vm.isCorrect()
    }"
    role="button" type="button"
    ng-click="vm.toggleCorrect()"
    aria-labelled-by="mc-option-{{vm.question.id}}-{{vm.option.id}}-correct">
</span>