<div class="row">
    <div class="col-6">
        <h1>Analytics for {{ this.studentName }}</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-default qc-btn qc-btn-download-csv qc-btn-attempts-csv" *ngIf="!this.readOnly" target="_blank" [href]="'/index.php/attempts/csv/download/' + this.utilitiesService.contextId + '/' + this.studentId">
            <span class="fa fa-cloud-download fa-2x" aria-hidden="true"></span> Download attempts <strong>CSV</strong>
        </a>
    </div>
</div>
<div class="row section-white" *ngIf="!this.utilitiesService.loading">
    <div class="col-12">
        <div class="row">
            <div class="col-5 col-offset-1 text-center qc-student-analytics-blurb">
                <p class="lead">Total attempts: </p>
                <p class="qc-student-analytics-total-attempts">
                    <span class="qc-student-analytics-number">{{ this.totalAttempts }}</span>
                </p>
            </div>
            <div class="col-5 text-center qc-student-analytics-blurb">
                <p class="lead">Average score: </p>
                <p class="qc-student-analytics-avg-score">
                    <span class="qc-student-analytics-number">{{ this.averageScore }}%</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-offset-1 text-center qc-student-analytics-blurb">
                <p class="lead">Total questions answered: </p>
                <p class="qc-student-analytics-total-questions">
                    <span class="qc-student-analytics-number">{{ this.totalQuestions }}</span>
                </p>
            </div>
            <div class="col-5 text-center qc-student-analytics-blurb">
                <p class="lead">Average number of retries: </p>
                <p class="qc-student-analytics-avg-retries">
                    <span class="qc-student-analytics-number">{{ this.averageRetries }}</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped qc-student-analytics-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Before due date</th>
                            <th>After due date</th>
                            <th>Overall</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Total time spent:</th>
                            <td>
                                <p class="lead qc-student-analytics-time-before-due">{{ this.utilitiesService.formatDuration(this.totalTimeBeforeDueDate) }}</p>
                            </td>
                            <td>
                                <p class="lead qc-student-analytics-time-after-due">{{ this.utilitiesService.formatDuration(this.totalTimeAfterDueDate) }}</p>
                            </td>
                            <td>
                                <p class="lead qc-student-analytics-total-time"> {{ this.utilitiesService.formatDuration(this.totalTime) }}</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Average attempt duration:</th>
                            <td>
                                <p class="lead qc-student-analytics-avg-time-before-due">{{  this.utilitiesService.formatDuration(this.averageTimeBeforeDueDate) }}</p>
                            </td>
                            <td>
                                <p class="lead qc-student-analytics-avg-time-after-due">{{  this.utilitiesService.formatDuration(this.averageTimeAfterDueDate) }}</p>
                            </td>
                            <td>
                                <p class="lead qc-student-analytics-avg-time">{{ this.utilitiesService.formatDuration(this.averageTime) }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="lead"><strong>How long before the due date, on average, is the student starting a quick check?</strong> <span class="qc-student-analytics-avg-time-until-due">{{ this.utilitiesService.formatDuration(this.averageTimeUntilDueDate) }}</span></p>
            </div>
        </div>
    </div>
</div>
