<div>
    <h3 *ngIf="this.question.options.length">Possible answers <span class="sr-only">for question #{{ this.question.question_order }}</span></h3>
    <div *ngFor="let option of this.question.options; index as $index;" class="row qc-edit-numerical-option">
        <div class="col-12">
            <h4 class="qc-edit-numerical-option-header">Option #{{$index+1}}</h4>

            <!-- delete button -->
            <qc-delete-option-btn
                [index]="$index"
                (onDelete)="this.deleteOption($event)"
                [option]="option"
                [optionTypeText]="'numerical option'"
                [question]="this.question"
                *ngIf="!this.readOnly && this.isRichContentToggled">
            </qc-delete-option-btn>

            <!-- answer input -->
            <div class="qc-edit-numerical-input form-group">

                <!-- answer type -->
                <div class="col-12 col-sm-4 form-group">
                    <label for="numerical-answer-{{this.question.id}}-{{option.id}}-type">
                        Answer type
                        <span class="sr-only"> for question #{{ this.question.question_order }}, answer option #{{ $index+1 }}</span>:
                    </label>
                    <select required [(ngModel)]="option.answer_type"
                        (ngModelChange)="this.onEdited()"
                        class="form-control"
                        id="numerical-answer-{{this.question.id}}-{{option.id}}-type"
                        [disabled]="this.readOnly">
                        <option value="exact">Exact answer</option>
                        <option value="range">Answer in the range</option>
                    </select>
                </div>

                <!-- if an exact answer with margin of error -->
                <div *ngIf="this.isExactAnswer(option)" class="form-group">
                    <div class="col-12 col-sm-3">
                        <label for="numerical-answer-{{this.question.id}}-{{option.id}}-answer">
                            Exact answer
                            <span class="sr-only"> for question #{{ this.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{this.question.id}}-{{option.id}}-answer"
                            [(ngModel)]="option.numerical_answer"
                            (ngModelChange)="this.onEdited()"
                            required
                            [disabled]="this.readOnly">
                    </div>

                    <div class="col-12 col-sm-3">
                        <label for="numerical-answer-{{this.question.id}}-{{option.id}}-margin">
                            Margin of error
                            <span class="sr-only"> for question #{{ this.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{this.question.id}}-{{option.id}}-margin"
                            [(ngModel)]="option.margin_of_error"
                            (ngModelChange)="this.onEdited()"
                            required
                            [disabled]="this.readOnly">
                    </div>
                </div>

                <!-- if answer within a range -->
                <div *ngIf="this.isRangeAnswer(option)" class="form-group">
                    <div class="col-12 col-sm-3">
                        <label for="numerical-answer-{{this.question.id}}-{{option.id}}-range-min">
                            Range minimum
                            <span class="sr-only"> for question #{{ this.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{this.question.id}}-{{option.id}}-range-min"
                            [(ngModel)]="option.range_min"
                            (ngModelChange)="this.onEdited()"
                            required
                            [disabled]="this.readOnly">
                    </div>

                    <div class="col-12 col-sm-3">
                        <label for="numerical-answer-{{this.question.id}}-{{option.id}}-range-max">
                            Range maximum
                            <span class="sr-only"> for question #{{ this.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{this.question.id}}-{{option.id}}-range-max"
                            [(ngModel)]="option.range_max"
                            (ngModelChange)="this.onEdited()"
                            required
                            [disabled]="this.readOnly">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <hr>
        <button class="btn btn-sm btn-primary qc-btn" type="button" (click)="this.addOption()" *ngIf="!this.readOnly">
            <span class="fa fa-plus" aria-hidden="true"></span> Add possible answer
            <span class="sr-only">to question #{{ this.question.question_order }}</span>
        </button>
        <qc-custom-feedback *ngIf="!this.readOnly"
            (onQuestionEdited)="this.onSubComponentEdited($event)"
            [question]="this.question">
        </qc-custom-feedback>
        <hr>
    </div>
</div>