<div>
    <h3 ng-if="vm.question.options.length">Possible answers <span class="sr-only">for question #{{ vm.question.question_order }}</span></h3>
    <div ng-repeat="option in vm.question.options track by $index" class="row qc-edit-numerical-option">
        <div class="col-xs-12">
            <h4 class="qc-edit-numerical-option-header">Option #{{$index+1}}</h4>

            <!-- delete button -->
            <qc-delete-option-btn
                qc-index="$index"
                qc-on-delete="vm.deleteOption($event)"
                qc-option="option"
                qc-option-type-text="'numerical option'"
                qc-question="vm.question"
                ng-if="!vm.readOnly">
            </qc-delete-option-btn>

            <!-- answer input -->
            <div class="qc-edit-numerical-input form-group">

                <!-- answer type -->
                <div class="col-xs-12 col-sm-4 form-group">
                    <label for="numerical-answer-{{vm.question.id}}-{{option.id}}-type">
                        Answer type
                        <span class="sr-only"> for question #{{ vm.question.question_order }}, answer option #{{ $index+1 }}</span>:
                    </label>
                    <select required ng-model="option.answer_type"
                        ng-change="vm.onEdited()"
                        class="form-control"
                        id="numerical-answer-{{vm.question.id}}-{{option.id}}-type"
                        ng-disabled="vm.readOnly">
                        <option value="exact">Exact answer</option>
                        <option value="range">Answer in the range</option>
                    </select>
                </div>

                <!-- if an exact answer with margin of error -->
                <div ng-if="vm.isExactAnswer(option)" class="form-group">
                    <div class="col-xs-12 col-sm-3">
                        <label for="numerical-answer-{{vm.question.id}}-{{option.id}}-answer">
                            Exact answer
                            <span class="sr-only"> for question #{{ vm.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{vm.question.id}}-{{option.id}}-answer"
                            ng-model="option.numerical_answer"
                            ng-change="vm.onEdited()"
                            required
                            ng-disabled="vm.readOnly">
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <label for="numerical-answer-{{vm.question.id}}-{{option.id}}-margin">
                            Margin of error
                            <span class="sr-only"> for question #{{ vm.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{vm.question.id}}-{{option.id}}-margin"
                            ng-model="option.margin_of_error"
                            ng-change="vm.onEdited()"
                            required
                            ng-disabled="vm.readOnly">
                    </div>
                </div>

                <!-- if answer within a range -->
                <div ng-if="vm.isRangeAnswer(option)" class="form-group">
                    <div class="col-xs-12 col-sm-3">
                        <label for="numerical-answer-{{vm.question.id}}-{{option.id}}-range-min">
                            Range minimum
                            <span class="sr-only"> for question #{{ vm.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{vm.question.id}}-{{option.id}}-range-min"
                            ng-model="option.range_min"
                            ng-change="vm.onEdited()"
                            required
                            ng-disabled="vm.readOnly">
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <label for="numerical-answer-{{vm.question.id}}-{{option.id}}-range-max">
                            Range maximum
                            <span class="sr-only"> for question #{{ vm.question.question_order }}, answer option #{{ $index+1 }}</span>:
                        </label>
                        <input type="number" string-to-number step="any" class="form-control"
                            id="numerical-answer-{{vm.question.id}}-{{option.id}}-range-max"
                            ng-model="option.range_max"
                            ng-change="vm.onEdited()"
                            required
                            ng-disabled="vm.readOnly">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group col-xs-12">
        <hr>
        <button class="btn btn-sm btn-primary qc-btn" type="button" ng-click="vm.addOption()" ng-if="!vm.readOnly">
            <span class="fa fa-plus" aria-hidden="true"></span> Add possible answer
            <span class="sr-only">to question #{{ vm.question.question_order }}</span>
        </button>
        <qc-custom-feedback ng-if="!vm.readOnly"
            qc-on-question-edited="vm.onSubComponentEdited($event)"
            qc-question="vm.question">
        </qc-custom-feedback>
        <hr>
    </div>
</div>