<qc-nav qc-current-page="vm.currentPage"></qc-nav>
<qc-loading ng-show="vm.utils.loading"></qc-loading>
<div class="row section-white">
    <div class="col-xs-12">
        <div class="row" ng-if="vm.isAttemptsView()">
            <div class="col-xs-12">
                <a href="../../manage?context={{::vm.utils.contextId}}" target="_self" ng-cloak><span class="fa fa-angle-double-left" aria-hidden="true"></span> Back to all course results</a>
            </div>
        </div>
        <div class="row" ng-show="vm.isAttemptsView()">
            <div class="col-xs-6">
                <h1>Individual Student Attempts</h1>
                <h2>{{ vm.studentName }}</h2>
            </div>
            <div class="col-xs-6 text-right" ng-hide="vm.utils.loading || !vm.isAttemptsView()">
                <button class="btn btn-default qc-btn qc-btn-analytics" type="button" ng-click="vm.toggleAnalytics()">
                    <span class="fa fa-bar-chart fa-2x" aria-hidden="true"></span>
                    <span>View <strong>Analytics</strong></span>
                </button>
            </div>
        </div>
        <qc-error-message ng-if="vm.utils.errorFound" qc-utils="vm.utils"></qc-error-message>
        <div ng-hide="vm.utils.loading || !vm.isAttemptsView()" ng-cloak>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <label for="search-name" class="sr-only">Search by quick check name: </label>
                    <input type="text" class="form-control qc-search-box" id="search-name" ng-model="vm.search.assessmentName" ng-change="vm.searchAssessmentName()" ng-model-options="{ debounce: 500}" placeholder="Search by quick check name">
                </div>
            </div>
            <qc-student-assessment-attempts
                ng-repeat="assessment in vm.displayedAssessments"
                qc-assessment-with-attempts="assessment"
                qc-course-context="vm.courseContext"
                qc-student-id="vm.studentId"
                qc-user="vm.user"
                qc-utils="vm.utils">
            </qc-student-assessment-attempts>
            <div class="well text-center qc-none-found-well" ng-if="!vm.displayedAssessments.length && vm.assessmentsWithAttempts.length">
                <h3 class="uppercase">No quick checks found</h3>
                <p>Either the name does not match, or the student has not yet attempted the quick check.</p>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.analyticsViewVisible">
    <a href='#' ng-click="vm.toggleAnalytics()">
        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
        Back to attempts
    </a>
    <qc-student-analytics
        qc-student-id="vm.studentId"
        qc-student-name="vm.studentName"
        qc-utils="vm.utils">
    </qc-student-analytics>
</div>