<div class="qc-mcorrect-options">
    <fieldset [attr.aria-labelledby]="'qc-assessment-question-' + currentQuestion.id"></fieldset>>
        <div class="lead qc-assessment-question" [id]="'qc-assessment-question-' + currentQuestion.id" [innerHTML]="currentQuestion.question_text | safe: 'html'"></div>
        <legend class="sr-only">Multiple correct question</legend>
        <div class="form-check qc-assessment-multiple-correct-option" *ngFor="let answerOption of currentQuestion.options">
            <input type="checkbox" [name]="currentQuestion.id" [value]="answerOption.answer_text" [checked]="false"
                [id]="answerOption.id"
                [(ngModel)]="answerOption.selected"
                [attr.tabindex]="modalVisible ? -1 : 0"
                (click)='onAnswerSelected(answerOption)'>
            <label [innerHTML]="answerOption.answer_text | safe: 'html'" [for]="answerOption.id"></label>
        </div>
    </fieldset>
</div>
