.qc-student-results-toggle {
    // display: inline-block;
    // margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;

    p {
        font-size: 1em;
        margin-left: 10px;
    }

    .tgl-btn {
        height: 1.5em;
        vertical-align: middle;
        width: 40px;
    }
}
