<button *ngIf="!this.release" (click)="this.createRelease()" role="button" class="btn qc-btn qc-release-btn" data-toggle="tooltip" data-placement="top" title="Releasing results will allow students to see their attempt data for this quick check. (Note that results are unrelated to grades, which appear in the gradebook the moment the assignment is graded.)">
    <span class="fa fa-users" aria-hidden="true"></span> Release results to students
</button>
<button *ngIf="this.release" (click)="this.rollbackRelease()" role="button" class="btn qc-btn qc-release-btn" data-toggle="tooltip" data-placement="top" title="If student results were released in error, they can be rolled back and hidden from students.">
    <span class="fa fa-undo" aria-hidden="true"></span> Rollback released results from students
</button>
<div *ngIf="this.error" class="alert alert-danger text-center" role="alert">
    <p><span class="fa fa-exclamation" aria-hidden="true"></span> Release Error: {{ this.error }}</p>
</div>
<div *ngIf="this.success" class="alert alert-success text-center release-alert" role="alert">
    <p><span class="fa fa-check" aria-hidden="true"></span> {{ this.success }}</p>
</div>