<button ng-if="!vm.release" ng-click="vm.createRelease()" role="button" class="btn qc-btn qc-release-btn" data-toggle="tooltip" data-placement="top" title="Releasing results will allow students to see their attempt data for this quick check. (Note that results are unrelated to grades, which appear in the gradebook the moment the assignment is graded.)">
    <span class="fa fa-users" aria-hidden="true"></span> Release results to students
</button>
<button ng-if="vm.release" ng-click="vm.rollbackRelease()" role="button" class="btn qc-btn qc-release-btn" data-toggle="tooltip" data-placement="top" title="If student results were released in error, they can be rolled back and hidden from students.">
    <span class="fa fa-undo" aria-hidden="true"></span> Rollback released results from students
</button>
<div ng-if="vm.error" class="alert alert-danger text-center" role="alert">
    <p><span class="fa fa-exclamation" aria-hidden="true"></span> Release Error: {{ vm.error }}</p>
</div>
<div ng-if="vm.success" class="alert alert-success text-center release-alert" role="alert">
    <p><span class="fa fa-check" aria-hidden="true"></span> {{ vm.success }}</p>
</div>