<qc-nav qc-current-page="vm.currentPage"></qc-nav>
<qc-loading ng-show="vm.utils.loading"></qc-loading>
<div class="row section-white">
    <div class="col-xs-12">
        <div class="row" ng-if="vm.isAttemptsView()">
            <div class="col-xs-12">
                <a href="../../manage?context={{::vm.utils.contextId}}" target="_self" ng-cloak><span class="fa fa-angle-double-left" aria-hidden="true"></span> Back to all course results</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h1 ng-show="vm.isAttemptsView()">Attempts</h1>
            </div>
            <div class="col-xs-6 text-right" ng-hide="vm.utils.loading || !vm.isAttemptsView()">
                <button class="btn btn-default qc-btn qc-btn-analytics" type="button" ng-click="vm.toggleAnalytics()">
                    <span class="fa fa-bar-chart fa-2x" aria-hidden="true"></span>
                    <span>View <strong>Analytics</strong></span>
                </button>
            </div>
        </div>
        <qc-error-message ng-if="vm.utils.errorFound" qc-utils="vm.utils"></qc-error-message>
        <div class="row" ng-if="vm.largeClassSize" ng-hide="!vm.isAttemptsView()">
            <div class="col-xs-12">
                <div class="well">
                    <p class="lead">Notice: large class size detected</p>
                    <p>In classes with more than 1000 students, slowness from the Canvas gradebook results in connection timeouts and other not very fun issues when reviewing attempts in Quick Check. For this reason, grading functionality is disabled for large courses when reviewing attempts in Quick Check.</p>
                </div>
            </div>
        </div>
        <h2 ng-hide="vm.utils.loading" ng-if="vm.isAttemptsView()" class="qc-results-quiz-name" ng-cloak>{{ ::vm.assessment.name }}</h2>
        <p ng-if="vm.dueAt && vm.isAttemptsView()" class="qc-due-at">Due at: {{ vm.dueAt }}</p>
        <div ng-hide="vm.utils.loading || !vm.isAttemptsView()" ng-cloak>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <label for="search-name" ng-if="vm.attempts.length" class="sr-only">Search by last name: </label>
                    <input type="text" class="form-control qc-search-box" id="search-name" ng-model="vm.search.studentLastName" ng-change="vm.searchStudentLastName()" ng-model-options="{ debounce: 500}" ng-if="vm.attempts.length" placeholder="Search by last name">
                </div>
                <div class="col-xs-6 col-md-4">
                    <qc-autograde ng-if="!vm.gradesLoading" ng-hide="vm.largeClassSize"
                        qc-on-success="vm.onAutoGradeSuccess($event)"
                        qc-points-possible="vm.pointsPossible"
                        qc-submissions="vm.submissions"
                        qc-ungraded-attempts="vm.ungradedAttempts"
                        qc-utils="vm.utils">
                    </qc-autograde>
                </div>
                <div class="col-xs-6 col-md-4 form-group">
                    <qc-release
                        qc-assessment-id="vm.assessmentId"
                        qc-existing-release="vm.release"
                        qc-utils="vm.utils" >
                    </qc-release>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-4">
                    <!-- show ungraded -->
                    <div class="checkbox uppercase" ng-hide="vm.gradesLoading || vm.largeClassSize">
                        <label>
                            <input type="checkbox" ng-click="vm.toggleUngraded()" class="ungraded-checkbox"> View ungraded assignments only
                        </label>
                    </div>
                </div>
            </div>
            <qc-attempt-data ng-if="vm.displayedAttempts.length"
                qc-attempts="vm.displayedAttempts"
                qc-course-context="vm.courseContext"
                qc-grades-loading="vm.gradesLoading"
                qc-is-student="false"
                qc-is-visible="vm.isAttemptsView()"
                qc-large-class-size="vm.largeClassSize"
                qc-points-possible="vm.pointsPossible"
                qc-show-responses="true"
                qc-submissions="vm.submissions"
                qc-users="vm.users"
                qc-utils="vm.utils"
                qc-view-responses="vm.viewResponses($event)">
            </qc-attempt-data>
            <div class="well text-center" ng-if="!vm.displayedAttempts.length">
                <h3 class="uppercase">No attempts found</h3>
            </div>
        </div>
        <div ng-if="vm.responseViewVisible" ng-cloak>
            <a href='#' ng-click="vm.hideResponses()">
                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                Back to attempts
            </a>
            <h1 id="response-header" tabindex="-1">Responses for {{ ::vm.responseAttempt.student.lis_person_name_given }} {{ ::vm.responseAttempt.student.lis_person_name_family }}'s attempt</h1>
            <p class="lead">Starting at {{ ::vm.utils.formatTimeWithTimeZone(vm.responseAttempt.created_at, vm.courseContext.time_zone) }}</p>
            <qc-responses
                qc-attempt="vm.responseAttempt"
                qc-course-context="vm.courseContext"
                qc-is-student="false"
                qc-questions="vm.questions"
                qc-responses="vm.studentResponses">
            </qc-responses>
            <span class="sr-only">
                <!-- screenreader user will be moving down the page, so easier for the back button to be down here -->
                <a href='#' ng-click="vm.hideResponses()">Back to attempts</a>
            </span>
        </div>
    </div>
</div>
<div ng-if="vm.analyticsViewVisible">
    <a href='#' ng-click="vm.toggleAnalytics()">
        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
        Back to attempts
    </a>
    <qc-quiz-analytics
        qc-assessment="vm.assessment"
        qc-utils="vm.utils">
    </qc-quiz-analytics>
</div>