<div class="row">
    <div class="col-xs-6">
        <h1>Analytics for {{ ::vm.assessment.name }}</h1>
    </div>
    <div class="col-xs-6 text-right">
        <a class="btn btn-default qc-btn qc-btn-download-csv qc-btn-responses-csv" ng-if="!vm.readOnly" target="_blank" ng-href="/index.php/responses/csv/download/assessment/{{vm.assessment.id}}/context/{{vm.utils.contextId}}">
            <span class="fa fa-cloud-download fa-2x" aria-hidden="true"></span> Download responses <strong>CSV</strong>
        </a>
        <a class="btn btn-default qc-btn qc-btn-download-csv qc-btn-attempts-csv" ng-if="!vm.readOnly" target="_blank" ng-href="/index.php/attempts/csv/download/context/{{vm.utils.contextId}}/assessment/{{vm.assessment.id}}">
            <span class="fa fa-cloud-download fa-2x" aria-hidden="true"></span> Download attempts <strong>CSV</strong>
        </a>
    </div>
</div>
<div class="row section-white" ng-if="vm.analytics">
    <div class="col-xs-12">
        <h2>General analytics</h2>
        <p class="lead qc-analytics-total-attempts">Total number of attempts: {{ vm.numAttempts }}</p>
        <p class="lead qc-analytics-average-attempts">Average number of attempts per student: {{ vm.avgAttempts }}</p>
        <p class="lead qc-analytics-median-score">Median score: {{ vm.medianScore }}% </p>
        <p class="lead qc-analytics-average-time">Average time spent: {{ vm.utils.formatDateDiff(vm.avgTime) }}</p>
        <hr>
        <h2>Student response analytics</h2>
        <div class="row" ng-repeat="question in vm.questions track by $index" ng-if="!vm.isCustom()">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Question #{{ $index+1 }}</h3></div>
                    <div class="panel-body">
                        <qc-question-analytics qc-question="question"></qc-question-analytics>
                    </div>
                </div>
            </div>
        </div>
        <div class="well" ng-if="vm.isCustom()">
            <h3>Sorry!</h3>
            <p class="lead">Response-level analytics are not available for custom activities.</p>
        </div>
    </div>
</div>