<div class="row">
    <div class="col-6">
        <h1>Analytics for {{ this.assessment.name }}</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-default qc-btn qc-btn-download-csv qc-btn-responses-csv" *ngIf="!this.readOnly" target="_blank" [href]="'/index.php/responses/csv/download/assessment/' + this.assessment.id + '/context/' + this.utilitiesService.contextId">
            <span class="fa fa-cloud-download fa-2x" aria-hidden="true"></span> Download responses <strong>CSV</strong>
        </a>
        <a class="btn btn-default qc-btn qc-btn-download-csv qc-btn-attempts-csv" *ngIf="!this.readOnly" target="_blank" [href]="'/index.php/attempts/csv/download/context/' + this.utilitiesService.contextId + '/assessment/' + this.assessment.id">
            <span class="fa fa-cloud-download fa-2x" aria-hidden="true"></span> Download attempts <strong>CSV</strong>
        </a>
    </div>
</div>
<div class="row section-white" *ngIf="this.analytics">
    <div class="col-12">
        <h2>General analytics</h2>
        <p class="lead qc-analytics-total-attempts">Total number of attempts: {{ this.numAttempts }}</p>
        <p class="lead qc-analytics-average-attempts">Average number of attempts per student: {{ this.avgAttempts }}</p>
        <p class="lead qc-analytics-median-score">Median score: {{ this.medianScore }}% </p>
        <p class="lead qc-analytics-average-time">Average time spent: {{ this.utilitiesService.formatDateDiff(this.avgTime) }}</p>
        <hr>
        <h2>Student response analytics</h2>
        <ng-container *ngFor="let question of this.questions; index as $index;">
            <div class="row" *ngIf="!this.isCustom()">
                <div class="col-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Question #{{ $index+1 }}</h3></div>
                        <div class="panel-body">
                            <qc-question-analytics qc-question="question"></qc-question-analytics>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="well" *ngIf="this.isCustom()">
            <h3>Sorry!</h3>
            <p class="lead">Response-level analytics are not available for custom activities.</p>
        </div>
    </div>
</div>