<div class="form-group">
    <button class="btn btn-primary qc-btn" type="button"
        ng-disabled="vm.formOpen"
        ng-click="vm.openForm()">
        <span class="fa fa-plus" aria-hidden="true"></span> Add admin user
    </button>
</div>
<div ng-if="vm.formOpen">
    <h3>Invite Admin User</h3>
    <div ng-if="vm.isEnteringUsername">
        <form ng-submit="vm.validateUser()">
            <label for="username">IU Username</label>
            <input type="text" id="username" ng-model="vm.username">
            <button class="btn btn-sm btn-primary qc-btn" type="submit">Validate username and save</button>
            <div class="alert alert-danger" role="alert" ng-if="vm.validationError">
                <h4><span class="fa fa-thumbs-o-down" aria-hidden="true"></span> Error</h4>
                <p>User cannot be found. Please try again.</p>
            </div>
        </form>
    </div>
    <div ng-if="vm.userValidated">
        <div class="alert alert-success qc-admin-add-user-success" role="alert">
            <h4><span class="fa fa-thumbs-o-up" aria-hidden="true"></span> User validated</h4>
            <h5>Name: {{ vm.validatedUser.name }}</h5>
        </div>
        <div ng-if="!vm.userAdded">
            <div ng-if="!vm.saveError">
                <h4>Saving...</h4>
                <p><span class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true"></span></p>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="vm.saveError">
                <h4><span class="fa fa-thumbs-o-down" aria-hidden="true"></span> Error</h4>
                <p>{{ vm.saveErrorReason }}</p>
            </div>
        </div>
    </div>
    <div ng-if="vm.userAdded">
        <h4>User <strong>{{ vm.username }}</strong> added as an admin user</h4>
        <button class="btn btn-primary btn-sm qc-btn" ng-click="vm.reset()" type="button">Add another user</button>
    </div>
    <hr>
    <div class="form-group">
        <button class="btn btn-default qc-btn" type="button" ng-click="vm.close()">Cancel</button>
    </div>
</div>
