<div class="form-group">
    <button class="btn btn-primary qc-btn" type="button"
        [disabled]="this.formOpen"
        (click)="this.openForm()">
        <span class="fa fa-plus" aria-hidden="true"></span> Add admin user
    </button>
</div>
<div *ngIf="this.formOpen">
    <h3>Invite Admin User</h3>
    <div *ngIf="this.isEnteringUsername">
        <form class="form-inline" (ngSubmit)="this.validateUser()">
            <label for="username">IU Username</label>
            <input 
                type="text" 
                id="username" 
                class="form-control ml-2 mr-2" 
                name="username" 
                [(ngModel)]="this.username" 
                [attr.aria-invalid]="this.validationError" 
                aria-describedby="validateAdminAlert">
            <button class="btn btn-sm btn-primary qc-btn" type="submit">Validate username and save</button>
            <qc-alert-message alertKey="validateAdminAlert" id="validateAdminAlert" [utilitiesService]="this.utilitiesService"></qc-alert-message>
        </form>
    </div>
    <div *ngIf="this.userValidated">
        <qc-alert-message alertKey="addAdminSuccess" [utilitiesService]="this.utilitiesService"></qc-alert-message>
        <div *ngIf="!this.userAdded">
            <div *ngIf="!this.saveError">
                <h4>Saving...</h4>
                <p><span class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true"></span></p>
            </div>
            <qc-alert-message alertKey="addAdminError" [utilitiesService]="this.utilitiesService"></qc-alert-message>
        </div>
    </div>
    <div *ngIf="this.userAdded">
        <button class="btn btn-primary btn-sm qc-btn" (click)="this.reset()" type="button">Add another user</button>
    </div>
    <hr>
    <div class="form-group">
        <button class="btn btn-outline-dark qc-btn" type="button" (click)="this.close()">Cancel</button>
    </div>
</div>
