<div class="qc-mc-options">
    <fieldset>
        <legend class="lead qc-assessment-question" ng-bind-html="vm.currentQuestion.question_text"></legend>
        <div class="radio" ng-repeat="answerOption in vm.currentQuestion.options">
            <input type="radio" name="{{vm.currentQuestion.id}}"
                    value="{{answerOption.answer_text}}"
                    id="{{answerOption.id}}"
                    ng-checked="false"
                    ng-model="answerOption.selected"
                    ng-click="vm.onAnswerSelected(answerOption)">
            <label ng-bind-html="answerOption.answer_text" for="{{answerOption.id}}"></label>
        </div>
    </fieldset>
</div>
