<button class="btn btn-sm btn-outline-dark qc-btn qc-btn-add-feedback" type="button"
    (click)="this.toggleCustomFeedback()"
    [hidden]="this.isFeedbackPresent()">
    <span class="fa fa-plus-circle" aria-hidden="true"></span>
    Add custom feedback <span class="sr-only">for question #{{ this.question.question_order }}</span>
</button>
<div *ngIf="this.isFeedbackPresent()" class="card card-body bg-light qc-custom-feedback-container clearfix">
    <span class="qc-delete-btn qc-delete-option-btn-inline qc-delete-feedback-btn" role="button" type="button"
        (click)="this.toggleCustomFeedback()"
        *ngIf="!this.readOnly">
        <qc-delete-icon aria-hidden="true"></qc-delete-icon>
        <span class="sr-only">Delete feedback for question #{{ this.question.question_order }}</span>
    </span>
    <h3 class="qc-feedback-header">Custom Feedback</h3>
    <qc-rich-content-toggle
        (onRichContentToggle)="this.onRichContentToggle($event)"
        [question]="this.question"
        [toggleType]="'feedback'">
    </qc-rich-content-toggle>
    <div *ngIf="!this.perResponseFeedback" class="qc-custom-feedback-general">
        <div class="form-group qc-custom-feedback-correct">
            <label for="qc-correct-feedback-{{this.question.id}}"
                id="qc-correct-feedback-{{this.question.id}}-label">
                <span class="fa fa-check" aria-hidden="true"></span>
                Correct feedback
                <span class="sr-only">for question # {{ this.question.question_order }} </span>
                (required)
            </label>
            <textarea id="correct-feedback-{{this.question.id}}" class="form-control"
                *ngIf="!this.isRichContentToggled"
                rows="5" required
                [(ngModel)]="this.question.question_feedback[0].feedback_text"
                (ngModelChange)="this.onEdited()">
            </textarea>
            <textarea ui-tinymce="this.tinymceOptions"
                *ngIf="this.isRichContentToggled"
                [attr.aria-labelled-by]="'qc-correct-feedback-' + this.question.id + '-label'"
                [(ngModel)]="this.question.question_feedback[0].feedback_text"
                (ngModelChange)="this.onEdited()"
                required>
            </textarea>
        </div>
        <div class="form-group qc-custom-feedback-incorrect">
            <label for="incorrect-feedback-{{this.question.id}}"
                id="incorrect-feedback-{{question.id}}-label">
                <span class="fa fa-remove" aria-hidden="true"></span>
                Incorrect feedback
                <span class="sr-only">for question # {{ this.question.question_order }} </span>
                (required)
            </label>
            <textarea id="incorrect-feedback-{{question.id}}" class="form-control"
                *ngIf="!this.isRichContentToggled"
                rows="5" required
                [(ngModel)]="this.question.question_feedback[1].feedback_text"
                (ngModelChange)="this.onEdited()">
            </textarea>
            <textarea ui-tinymce="this.tinymceOptions"
                *ngIf="this.isRichContentToggled"
                [attr.aria-labelled-by]="'qc-incorrect-feedback-' + this.question.id + '-label'"
                [(ngModel)]="this.question.question_feedback[1].feedback_text"
                (ngModelChange)="this.onEdited()"
                required>
            </textarea>
        </div>
    </div>
    <div *ngIf="this.isPerResponseFeedbackAvailable()" class="checkbox qc-custom-feedback-response-checkbox">
        <p>Multiple choice and multiple correct questions can include feedback for each possible response. Feedback is required for each possible response.</p>
        <input type="checkbox" (click)="this.toggleOptionFeedback()" ng-checked="this.perResponseFeedback">
        <label>
            Use per-response feedback
            <span class="sr-only">for question #{{ this.question.question_order }} </span>
            (<em>Note that checking this box this will remove general correct/incorrect feedback.</em>)
        </label>
    </div>
    <div *ngIf="this.perResponseFeedback">
        <div *ngFor="let option of this.question.options; index as $index;" [ngClass]="this.isCorrect(option) ? 'qc-custom-feedback-correct' : 'qc-custom-feedback-incorrect'">
            <label for="response-feedback-{{option.id}}"
                id="response-feedback-{{option.id}}-label">
                <span class="fa" [ngClass]="this.isCorrect(option) ? 'fa-check' : 'fa-remove'" aria-hidden="true"></span>
                <span>Feedback for option #{{ $index + 1 }}</span>
                <span>(<em>{{ option.answer_text }}</em>)</span></label>
            <textarea class="form-control" id="response-feedback-{{option.id}}"
                *ngIf="!this.isRichContentToggled"
                rows="3" required
                [(ngModel)]="option.mc_option_feedback.feedback_text"
                (ngModelChange)="this.onEdited()">
            </textarea>
            <textarea ui-tinymce="this.tinymceOptions"
                *ngIf="this.isRichContentToggled"
                [attr.aria-labelled-by]="'response-feedback-' + option.id + '-label'"
                [(ngModel)]="option.mc_option_feedback.feedback_text"
                (ngModelChange)="this.onEdited()"
                required>
            </textarea>
        </div>
    </div>
</div>
