<div class="card qc-accordion-panel qc-user-panel" *ngIf="!this.readOnly">
    <button class="card-header" (click)="this.toggleShowUsers()" [attr.aria-expanded]="this.showUsers" [attr.aria-controls]="'qc-user-list'">
        <span class="qc-accordion-arrow fa fa-lg" [ngClass]="this.showUsers ? 'fa-caret-down' : 'fa-caret-right'" aria-hidden="true"></span>
        <h3 class="card-title">Show users in this set</h3>
    </button>
    <div class="card-body collapse" id="qc-user-list" [collapse]="!this.showUsers" [isAnimated]="true">
        <div (click)="this.utilitiesService.preventToggle($event)">
            <ul [hidden]="this.isEditingUsers.init">
                <li *ngFor="let user of this.collectionUsers" class="qc-users-user">
                    <strong>
                        {{user.username}}
                        <span *ngIf="user.username == this.currentUser.username">
                            (self)
                        </span>
                    </strong> 
                    <span class="badge badge-secondary ml-1" *ngIf="user.readOnly">Read-only</span></li>
            </ul>
            <button type="button" class="btn btn-lg qc-btn-add qc-btn-user-add qc-btn"
                    (click)="this.isAddingUserInit()"
                    [disabled]="this.isAddingUser.init || this.isEditingUsers.init">
                <span class="fa fa-plus" aria-hidden="true"></span> <span>Add a user to this set</span>
            </button>
            <button class="qc-edit-btn qc-users-edit-btn" (click)="this.isEditingUsersInit()" [attr.disabled]="this.isEditingUsers.init || this.isAddingUser.init ? 'true' : null">
                <qc-edit-icon aria-hidden="true"></qc-edit-icon>
                <span class="sr-only">Edit users</span>
            </button>
            <div *ngIf="this.isAddingUser.init">
                <h3 id="invite-user-header" tabindex="-1">Invite User</h3>
                <div *ngIf="this.isAddingUser.checkUser">
                    <form (ngSubmit)="this.validateUser()">
                        <div class="form-inline">
                            <label for="username">IU Username: </label>
                            <input type="text" class="form-control ml-2" id="username" name="username" [(ngModel)]="this.isAddingUser.username">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="this.isAddingUser.readOnly" name="readOnly"> Read-only permissions
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary qc-btn" type="submit">Validate and add user</button>
                            <button type="button" class="btn btn-outline-dark qc-btn" (click)="this.addUserCancel()">Cancel</button>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="this.isAddingUser.validationError">
                            <h4><span class="fa fa-thumbs-o-down" aria-hidden="true"></span> Error</h4>
                            <p>User cannot be found. Please try again.</p>
                        </div>
                    </form>
                </div>
                <div *ngIf="this.isAddingUser.userValidated">
                    <div class="alert alert-success" role="alert">
                        <h4><span class="fa fa-thumbs-o-up" aria-hidden="true"></span> User validated</h4>
                        <h5>Name: {{ this.isAddingUser.validatedUser.name }}</h5>
                    </div>
                    <div *ngIf="!this.isAddingUser.userAdded">
                        <div *ngIf="!this.isAddingUser.saveError">
                            <h4>Saving...</h4>
                            <p><span class="fa fa-circle-o-notch fa-spin fa-2x" aria-hidden="true"></span></p>
                        </div>
                        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="this.isAddingUser.saveError">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4><span class="fa fa-thumbs-o-down" aria-hidden="true"></span> Error</h4>
                            <p>{{ this.isAddingUser.saveErrorReason }}</p>
                            <button class="btn btn-primary btn-sm qc-btn" (click)="this.isAddingUserInit()" type="button">Add another user</button>
                            <button type="button" class="btn btn-outline-dark qc-btn" (click)="this.addUserCancel()">Close</button>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.isAddingUser.userAdded">
                    <h4>User <strong>{{ this.isAddingUser.username }}</strong> has been added to this set</h4>
                    <button class="btn btn-primary btn-sm qc-btn" (click)="this.isAddingUserInit()" type="button">Add another user</button>
                    <button type="button" class="btn btn-outline-dark qc-btn" (click)="this.addUserCancel()">Close</button>
                </div>
            </div>
            <div *ngIf="this.isEditingUsers.init">
                <h3 id="edit-users-header" tabindex="-1" [hidden]="this.isEditingUsers.loading">Edit User Memberships</h3>
                <p *ngIf="this.isEditingUsers.users.length == 1">Woops, looks like you're the only user in this set right now.</p>
                <table class="table table-bordered table-striped" [hidden]="this.isEditingUsers.loading || this.isEditingUsers.users.length == 1">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Read-Only</th>
                            <th scope="col">Remove?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of this.isEditingUsers.users" class="qc-users-edit-user" [ngClass]="{'table-danger': user.deleted}">
                            <td [ngClass]="{'strike-through': user.deleted}">
                                {{ user.username }}
                                <span *ngIf="user.username == this.currentUser.username">
                                    (self)
                                </span>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label [ngClass]="{'strike-through': user.deleted}">
                                        <input type="checkbox" [checked]="user.readOnly == 'true'" [disabled]="user.deleted ? 'true' : null" (click)="this.toggleReadOnly(user)" name="readOnly" class="qc-read-only-input"> Read-only permissions <span class="sr-only">for user {{user.username}}</span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button class="qc-delete-btn qc-delete-user-btn" (click)="this.deleteMembership(user)" [hidden]="user.deleted">
                                    <qc-delete-icon aria-hidden="true"></qc-delete-icon>
                                    <span class="sr-only">Delete set membership for user {{user.username}}</span>
                                </button>
                                <span [hidden]="!user.deleted">Click save button to confirm deletion</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="this.isEditingUsers.error">
                    <div class="alert alert-danger" role="alert">
                        <h4>Error</h4>
                        <p>There was an error updating the membership for this set. Please try again.</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm qc-btn" (click)="this.saveUserEdits()" [hidden]="this.isEditingUsers.loading || this.isEditingUsers.users.length == 1">Save User Edits</button>
                <button type="button" class="btn btn-outline-dark btn-sm qc-btn" (click)="this.editUsersCancel()" [hidden]="this.isEditingUsers.loading">Cancel</button>
            </div>
            <div *ngIf="this.isEditingUsers.loading" class="text-center" aria-live="polite">
                <span class="fa fa-refresh fa-spin fa-3x" aria-hidden="true"></span><span class="sr-only">Saving user membership edits, please wait.</span>
            </div>
            <div *ngIf="this.isEditingUsers.success">
                <div class="alert alert-success" role="alert">
                    <h4><span class="fa fa-thumbs-up" aria-hidden="true"></span> Success</h4>
                    <p>User membership has been successfully updated.</p>
                </div>
            </div>
        </div>
    </div>
</div>
