<div class="row modal-wrapper">
    <div class="modal fade" id="qc-completion-modal" tabindex="-1" role="alertdialog" [attr.aria-labelledby]="qc-completion-label" aria-describedby="qc-completion-dialog-content">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header sr-only">
                    <h1 class="modal-title" id="qc-completion-label">Completed</h1>
                </div>
                <div class="modal-body" id="qc-completion-dialog-content">
                    <h2 class="qc-finished-msg">You have finished the quick check!</h2>
                    <div *ngIf="!this.loading && !this.error" class="clearfix">
                        <h2 *ngIf="this.isAutomaticPassback()" class="qc-graded-msg">Your score has been delivered to the gradebook. Only your highest score is kept.</h2>
                        <h2 *ngIf="this.isPendingPassback()" class="qc-grade-pending-msg">This assignment has been submitted to your instructor for grading.</h2>
                        <h2 *ngIf="this.isUngraded()" class="qc-ungraded-msg">This attempt was not graded.</h2>
                        <h2 class="qc-final-score">Score: {{ this.score }} / {{ this.pointsPossible }} questions correct</h2>
                        <qc-checkmark></qc-checkmark>
                        <p><button class="btn btn-lg qc-btn-restart-assessment qc-btn" (click)="this.restart()">Restart the quick check</button></p>
                        <p *ngIf="this.isInModule" class="qc-module-msg">Or, click the "next" button in Canvas to continue.</p>
                    </div>
                    <div *ngIf="this.loading">
                        <h2>Grade passback in progress...</h2>
                        <span class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></span>
                    </div>
                    <div *ngIf="this.error">
                        <h2>Uh-oh: error saving grade.</h2>
                        <p class="lead">{{ this.error }}</p>
                        <p><button class="btn btn-lg btn-default qc-btn" (click)="this.submitGrade()">Try again</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
