<div class="modal-content" id="qc-completion-modal">
    <div class="sr-only" id="qc-completion-label">
        Quick Check completed
    </div>
    <div class="modal-body" id="qc-completion-dialog-content">
        <p class="qc-finished-msg qc-h2-style" role="status" aria-live="polite">You have finished the quick check!</p>
        <div *ngIf="!this.loading && !this.error" class="clearfix">
            <p *ngIf="this.isAutomaticPassback()" class="qc-graded-msg qc-h2-style">Your score has been delivered to the gradebook. Only your highest score is kept.</p>
            <p *ngIf="this.isPendingPassback()" class="qc-grade-pending-msg qc-h2-style">This assignment has been submitted to your instructor for grading.</p>
            <p *ngIf="this.isUngraded()" class="qc-ungraded-msg qc-h2-style">This attempt was not graded.</p>
            <p class="qc-final-score qc-h2-style">Score: {{ this.score }} / {{ this.pointsPossible }} questions correct</p>
            <qc-checkmark></qc-checkmark>
            <p><button class="btn btn-lg qc-btn-restart-assessment qc-btn" (click)="this.restart()" type="button">Restart the quick check</button></p>
            <p *ngIf="this.isInModule" class="qc-module-msg">Or, click the "next" button in Canvas to continue.</p>
        </div>
        <div *ngIf="this.loading">
            <p class="qc-h2-style">Grade passback in progress...</p>
            <span class="fa fa-cog fa-spin fa-3x fa-fw" aria-hidden="true"></span>
        </div>
        <div *ngIf="this.error">
            <p class="qc-h2-style">Uh-oh: error saving grade.</p>
            <p class="lead">{{ this.error }}</p>
            <p><button class="btn btn-lg btn-outline-dark qc-btn" (click)="this.submitGrade()" type="button">Try again</button></p>
        </div>
    </div>
</div>
