<div class="form-group">
    <button class="btn qc-btn qc-toggle-public-btn"
        [ngClass]="this.isPublicCollection() ? 'btn-danger' : 'btn-primary'" (click)="this.togglePublicCollection()">
        <span *ngIf="this.isPublicCollection()">
            <span class="fa fa-remove"></span> Make set private
        </span>
        <span *ngIf="!this.isPublicCollection()">
            <span class="fa fa-users"></span> Make set public
        </span>
        <span>(admin-only)</span>
    </button>
</div>
