<div class="card">
    <div class="card-header text-white bg-light">
        <h3 class="card-title">Export QTI Package (1.2)</h3>
    </div>
    <div class="card-body" id="qti-export-panel">
        <p>A QTI package exported from Quick Check is a .zip file that can be uploaded to a Learning Management System, in order to export quick checks and migrate your quiz questions to another platform. Quick Check's QTI export system is optimized for Canvas. Note that since Canvas does not contain a matrix question type, matrix questions will be converted to separate multiple choice questions (one for each row of the matrix question).</p>
        <div class="qc-qti-export-list form-group">
            <p class="lead">Select the quick checks from this set that you would like to export:</p>
            <ul>
                <li>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" (click)="this.toggleQtiExportCheckAll()" [checked]="this.checkAll">
                            All quick checks in this set
                        </label>
                    </div>
                    <ul>
                        <li *ngFor="let exportAssessmentGroup of this.assessmentGroups">
                            {{exportAssessmentGroup.name}}:
                            <ul>
                                <ng-container *ngFor="let assessment of exportAssessmentGroup.assessments">
                                    <li *ngIf="!assessment.custom_activity_id">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" (click)="this.toggleAssessmentExport(assessment.id.toString())" [checked]="this.assessmentList[assessment.id.toString()]">
                                                {{assessment.name}}
                                            </label>
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <form ngNoForm method="POST" action="/exportQTI" target="_blank">
            <input type="hidden" *ngFor="let assessment of this.assessments; index as $index;" name="assessments[{{$index}}]" [value]="assessment">
            <button type="submit" class="btn btn-primary qc-btn" [disabled]="!this.assessments.length">Export QTI package</button>
            <button type="button" class="btn btn-outline-dark qc-btn" (click)="this.cancelQtiExport()">Close <span class="sr-only">QTI export panel</span></button>
        </form>
    </div>
</div>
