<button class="btn btn-primary qc-btn" type="button"
    ng-disabled="vm.isOpen"
    ng-click="vm.openForm()">
    <span class="fa fa-plus" aria-hidden="true"></span> Add custom activity
</button>
<div ng-show="vm.isOpen" class="form-group">
    <form ng-submit="vm.save()">
        <div class="form-group">
            <label for="name">Name of the activity </label>
            <input type="text" class="form-control" ng-model="vm.customActivityData.name" id="name" required>
        </div>
        <div class="form-group">
            <label for="custom-add-description">Description </label>
            <textarea class="form-control" ng-model="vm.customActivityData.description" id="custom-add-description" required></textarea>
        </div>
        <div class="form-group">
            <label for="url">Url of the activity where it can be launched, relative to the "customActivities" folder in app root (i.e., foldername/filename.html)</label>
            <input type="text" class="form-control" ng-model="vm.customActivityData.url" id="url" required>
        </div>
        <div class="form-group">
            <label for="developer">Primary developer of the activity</label>
            <input type="text" class="form-control" ng-model="vm.customActivityData.developer" id="developer" required>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="vm.customActivityData.group_required" > Group required (get group the student belongs to, if applicable, and append as query string on launch)
            </label>
        </div>
        <button type="submit" class="btn btn-success qc-btn">Save custom activity</button>
        <button type="button" class="btn btn-default qc-btn" ng-click="vm.closeForm()">Cancel</button>
    </form>
</div>
