<div cdkDropListGroup class="qc-drag-question">
  <div class="lead qc-assessment-question" [innerHTML]="this.currentQuestion.question_text | safe: 'html'"></div>
  <div class="qc-droppable-container">
    <img class="qc-droppable-base-img" [src]="this.image.img_url" [width]="this.image.width" [height]="this.image.height" />
    <div *ngFor="let droppable of this.getDroppables()">
      <div cdkDropList
        [id]="droppable.id"
        [cdkDropListData]="droppable[this.DRAG_TYPE]"
        (cdkDropListDropped)="dropOntoAnswer($event)"
        (cdkDropListEntered)="droppableEntered($event)"
        (cdkDropListExited)="droppableExited($event)"
        class="qc-droppable-zone"
        [ngClass]="{
          'qc-droppable-disabled': droppable.disabled ? true : false, 
          'qc-droppable-zone-entered': droppable.entered ? true : false, 
          'qc-dropped-option': (droppable.img_url || droppable.text) ? true : false,
          'qc-droppable-incorrect': droppable.incorrect ? true : false 
        }" 
        [ngStyle]="{
          'top.px': getDroppableTopPosition(droppable), 
          'left.px': getDroppableLeftPosition(droppable), 
          'width.px': droppable.width, 
          'height.px': droppable.height
        }"
        >
          <img *ngIf="this.isDraggedImg(droppable)"
            cdkDrag
            class="qc-dropped-option"
            [src]="droppable[this.DRAG_TYPE][0].img_url" 
            [width]="droppable[this.DRAG_TYPE][0].width" 
            [height]="droppable[this.DRAG_TYPE][0].height"
          />
          <span *ngIf="this.isDraggedText(droppable)"
            cdkDrag
            class="qc-dropped-option qc-draggable-text"
            [ngStyle]="{'font-size': droppable[this.DRAG_TYPE][0].font_size}">
            {{ droppable[this.DRAG_TYPE][0].text }}
          </span>
      </div>
    </div>
  </div>
  <div cdkDropList
    [cdkDropListData]="draggables"
    [id]="this.OPTION_LIST_DROP_LIST_ID"
    (cdkDropListDropped)="dropOutsideOfAnswer($event)"
    (cdkDropListEntered)="optionListDragEntered($event)"
    (cdkDropListExited)="optionListDragExited($event)"
    [ngClass]="{'qc-droppable-zone-entered': this.dragListHighlighted}"
    class="qc-drag-option-list">
    <ng-container *ngFor="let draggable of this.draggables; index as i">
      <div cdkDrag
        class="qc-draggable"
        [ngClass]="{'qc-duplicate-drag-option': draggable.count > 1 ? true : false}"
        [ngStyle]="{'width.px': draggable.width, 'height.px': draggable.height}">
        <img *ngIf="draggable.img_url" [src]="draggable.img_url" [width]="draggable.width" [height]="draggable.height" />
        <span *ngIf="draggable.text" class="qc-draggable-text" [ngStyle]="{'font-size': draggable.font_size}">{{ draggable.text }}</span>
      </div>
      <!-- break to a new line at the end of a row of duplicates (needed if two sets of duplicates in a row) -->
      <br *ngIf="this.isLastDuplicateDraggable(draggable, i)"/>
    </ng-container>
  </div>
</div>
