
.qc-droppable-zone {
    border: dashed 2px gray;
}
.qc-droppable-zone.cdk-drop-list-receiving,
.qc-droppable-zone.cdk-drop-list-dragging {
    border: dashed 2px gray;
}

.qc-droppable-incorrect img,
.qc-droppable-incorrect .qc-draggable-text {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
      background-color: rgba(255, 255, 255, 0.3);
    }
    50% {
      background-color: rgba(211, 61, 55, 0.3);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.3);
    }
  }

.qc-droppable-zone.cdk-drop-list-receiving.qc-droppable-disabled,
.qc-droppable-zone.cdk-drop-list-dragging.qc-droppable-disabled {
    border: none;
}

.qc-droppable-zone-entered,
.qc-droppable-zone.cdk-drop-list-receiving.qc-droppable-zone-entered,
.qc-droppable-zone.cdk-drop-list-dragging.qc-droppable-zone-entered {
    border: dashed 2px cornflowerblue;
}

.qc-droppable-zone-entered.qc-droppable-disabled {
    border: none;
}

.qc-duplicate-drag-option {
    display: inline-block;
    margin-right: 10px;
}

.qc-drag-option-list {
    width: fit-content;
    min-width: 200px;
    border: 1px solid black;
    // text-align: center;
    display: block;
    padding: 10px;
}

.cdk-drag-animating {
    transition: transform 300ms ease-in-out;
}

.qc-drag-question .qc-assessment-question {
    padding-bottom: 50px; //additional padding for questions with larger droppable areas around the borders
}


.qc-draggable-text {
    cursor: pointer;
    border: 1px black solid;
    border-radius: 8px;
}

.qc-draggable {
    // display: inline-block;
    // margin-right: 20px;
    position: relative;
    display: block;
//     float: left;

}

.draggables-label {
    padding: 10px 0px;
}

.qc-droppable-container-drag-drop {
    position: relative;
}

.qc-draggable-cursor {
    border: 2px blue solid;
    border-radius: 8px;
}
.qc-draggable-selected {
    border: 2px green solid;
    border-radius: 8px;
}

#announcer {
    opacity: 0;
}

.qc-draggable-container {
    // display: inline-block;
    text-align: center;
}

