<div cdkDropListGroup class="qc-drag-question">
  <div class="lead qc-assessment-question" [innerHTML]="this.currentQuestion.question_text | safe: 'html'"></div>
  <div [id]="droppableContainerId" class="qc-droppable-container-drag-drop" [style.padding.px]="droppableContainerPadding">
    <img class="qc-droppable-base-img" [src]="this.image.img_url" [width]="this.image.width" [height]="this.image.height" />
    <div *ngFor="let droppable of this.getDroppables(); let i = index;">
      <div cdkDropList
        [id]="droppable._unique_id"
        [cdkDropListData]="droppable[optionTypeEnum.Draggable]"
        (cdkDropListDropped)="dropOntoAnswer($event)"
        (cdkDropListEntered)="droppableEntered($event)"
        (cdkDropListExited)="droppableExited($event)"
        class="qc-droppable-zone"
        [ngClass]="{
          'qc-droppable-disabled': droppable.disabled ? true : false, 
          'qc-droppable-zone-entered': droppable.entered ? true : false, 
          'qc-dropped-option': (droppable.img_url || droppable.text) ? true : false,
          'qc-droppable-incorrect': this.isDroppableIncorrect(droppable)
        }" 
        [ngStyle]="{
          'top.px': droppable.top, 
          'left.px': droppable.left, 
          'width.px': droppable.width, 
          'height.px': droppable.height
        }"
        >
          <img *ngIf="this.isDraggedImg(droppable)"
            cdkDrag
            class="qc-dropped-option"
            [src]="droppable[optionTypeEnum.Draggable][0].img_url" 
            [width]="droppable[optionTypeEnum.Draggable][0].width" 
            [height]="droppable[optionTypeEnum.Draggable][0].height"
          />
          <span *ngIf="this.isDraggedText(droppable)"
            cdkDrag
            class="qc-dropped-option qc-draggable-text"
            [ngStyle]="{'font-size': droppable[optionTypeEnum.Draggable][0].font_size + 'px'}">
            {{ droppable[optionTypeEnum.Draggable][0].text }}
          </span>
      </div>
    </div>
  </div>
  <div cdkDropList
    [cdkDropListData]="draggables"
    [id]="optionListId"
    (cdkDropListDropped)="dropOutsideOfAnswer($event)"
    (cdkDropListEntered)="optionListDragEntered($event)"
    (cdkDropListExited)="optionListDragExited($event)"
    [ngClass]="{'qc-droppable-zone-entered': this.dragListHighlighted}"
    class="qc-drag-option-list">
    <ng-container *ngFor="let draggable of this.draggables; let i = index;">
      <div cdkDrag
        class="qc-draggable"
        id="{{draggableId}}-{{draggable._unique_id}}"
        [style.margin-right.px]="draggableMarginRight"
        [ngClass]="{
          'qc-duplicate-drag-option': draggable.count > 1 ? true : false,
          'qc-draggable-cursor': this.keyDroppableProperties.indexOfSelectedDraggable === i && this.keyDroppableProperties.selectedDraggable === null,
          'qc-draggable-selected': this.keyDroppableProperties.indexOfSelectedDraggable === i && this.keyDroppableProperties.selectedDraggable !== null
        }"
        [ngStyle]="{'width.px': draggable.width, 'height.px': draggable.height}">
        <img *ngIf="draggable.img_url" [src]="draggable.img_url" [width]="draggable.width" [height]="draggable.height" />
        <span *ngIf="draggable.text" class="qc-draggable-text" [ngStyle]="{'font-size': draggable.font_size + 'px'}">{{ draggable.text }}</span>
      </div>
      <!-- break to a new line at the end of a row of duplicates (needed if two sets of duplicates in a row) -->
      <!-- <br *ngIf="this.isLastDuplicateDraggable(draggable, i)"/> -->
    </ng-container>
  </div>
</div>
