.qc-droppable-zone.cdk-drop-list-receiving,
.qc-droppable-zone.cdk-drop-list-dragging {
    border: dashed 2px gray;
}

.qc-droppable-incorrect img,
.qc-droppable-incorrect .qc-draggable-text {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
      background-color: rgba(255, 255, 255, 0.3);
    }
    50% {
      background-color: rgba(211, 61, 55, 0.3);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.3);
    }
  }

.qc-droppable-zone.cdk-drop-list-receiving.qc-droppable-disabled,
.qc-droppable-zone.cdk-drop-list-dragging.qc-droppable-disabled {
    border: none;
}

.qc-droppable-zone-entered,
.qc-droppable-zone.cdk-drop-list-receiving.qc-droppable-zone-entered,
.qc-droppable-zone.cdk-drop-list-dragging.qc-droppable-zone-entered {
    border: dashed 2px cornflowerblue;
}

.qc-droppable-zone-entered.qc-droppable-disabled {
    border: none;
}

.qc-duplicate-drag-option {
    display: inline-block;
    margin-right: 10px;
}

.qc-drag-option-list {
    width: fit-content;
    min-width: 200px;
    min-height: 200px;
}

.cdk-drag-animating {
    transition: transform 300ms ease-in-out;
}