<div class="qc-matching-options">
    <p class="lead qc-assessment-question" [innerHTML]="this.currentQuestion.question_text | safe: 'html'"></p>
    <div class="row">
        <div class="col-12" aria-hidden="true">
            <p class="qc-selectable-answer-option-text">Remaining options: </p>
            <span *ngFor="let selectableAnswer of this.selectableAnswers"
                class="badge qc-selectable-answer-option"
                [ngClass]="this.isAnswerUsed(selectableAnswer) ? 'badge-secondary' : 'badge-primary'">{{selectableAnswer.option_text}}
            </span>
        </div>
        <table class="table table-striped">
            <caption class="sr-only" [innerHTML]="this.currentQuestion.question_text | safe: 'html'"></caption>
            <thead class="sr-only">
                <th>Prompt</th>
                <th>Selection</th>
            </thead>
            <tbody>
                <tr *ngFor="let prompt of this.prompts" [ngClass]="{'table-danger': !this.checkRowCorrectness(prompt)}">
                    <td>
                        <span *ngIf="!this.checkRowCorrectness(prompt)">
                            <span class="fa fa-remove fa-2x" aria-hidden="true"></span>
                            <span class="sr-only">This selection is incorrect</span>
                        </span>
                        <label [innerHTML]="prompt.option_text | safe: 'html'" for="{{'select-' + prompt.id}}"></label>
                    </td>
                    <td>
                        <select class="form-control"
                            [(ngModel)]="prompt.selected_answer"
                            (ngModelChange)="this.onAnswerSelected(prompt)"
                            id="{{'select-' + prompt.id}}"
                            [attr.aria-invalid]="!this.checkRowCorrectness(prompt) ? 'true' : 'false'">
                            <option value=""></option> <!-- blank option -->
                            <option *ngFor="let selectableAnswer of this.selectableAnswers"
                                    value="{{selectableAnswer.id}}"
                                    [innerHTML]="selectableAnswer.option_text | safe: 'html'"
                                    [hidden]="!!this.isAnswerUsed(selectableAnswer)">
                            </option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
