<span *ngIf="!this.isUserInCourse">
    (dropped)
</span>
<span *ngIf="this.isUserInCourse">
    <span *ngIf="!this.submission.isGradeable()">
        NA
    </span>
    <span *ngIf="this.submission.isGradeable()">
        <!-- when a grade has already been recorded -->
        <span *ngIf="this.submission.isGraded()" [hidden]="this.editingGrade" class="attempt-view-grade">
            <a href="#" (click)="this.editGrade()" id="grade-{{attempt.id}}" class="qc-edit-grade"><span class="sr-only">Grade:</span>{{ this.submission.calculateGrade() }}</a>
        </span>
        <!-- editing view, when grade has not yet been recorded or instructor is changing it -->
        <span [hidden]="!this.editingGrade || this.submission.needsGrade()" class="qc-attempt-edit-grade">
            <div class="form-group form-group-sm qc-edit-grade-input">
                <label for="grade-submission-{{attempt.id}}">Grade<br>(0-100): </label>
                <input type="text" [(ngModel)]="this.editedGradeValue" id="grade-submission-{{attempt.id}}" class="qc-grade-submit-input">
            </div>
            <div *ngIf="this.gradeLoading" aria-live="polite">
                <p class="text-center">
                    <span class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></span>
                    <span class="sr-only">Grade submission in progress, please wait.</span>
                </p>
            </div>
            <div *ngIf="this.error" class="alert alert-danger" role="alert">
                <p><span class="fa fa-exclamation" aria-hidden="true"></span> Error: {{ this.error }}</p>
            </div>
            <button class="btn btn-primary btn-xs qc-btn" (click)="this.submitGrade(attempt)" type="submit">Submit</button>
            <!-- only allow instructor to cancel grading if editing and grade already present -->
            <button class="btn btn-default btn-xs qc-btn" [hidden]="!this.submission.isGraded()" (click)="this.cancelGradeSubmit(attempt)" type="button">Cancel</button>
        </span>
    </span>
</span>