<qc-nav qc-current-page="vm.currentPage"></qc-nav>
<qc-loading ng-show="vm.utils.loading"></qc-loading>
<div class="row section-white">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                <h1>Student Results</h1>
            </div>
            <div class="col-xs-6 text-right">
                <a class="btn btn-default qc-btn qc-btn-download-csv" ng-if="!vm.readOnly" target="_blank" ng-href="/index.php/attempts/csv/download/{{vm.utils.contextId}}">
                    <span class="fa fa-cloud-download fa-2x" aria-hidden="true"></span> Download attempts <strong>CSV</strong>
                </a>

            </div>
        </div>
        <qc-error-message ng-if="vm.utils.errorFound" qc-utils="vm.utils"></qc-error-message>
        <div ng-if="!vm.isViewingByStudent()">
            <h2>Quick checks</h2>
            <p class="lead">Quick checks will only appear in the list below if at least one attempt has been made. Click on a quick check to see student results.</p>
        </div>
        <div ng-if="vm.isViewingByStudent()">
            <h2>Students</h2>
            <p class="lead">Students will only appear in the list below if they have made at least one quick check attempt in this course. Click on a student to see their results.</p>
        </div>
        <div ng-hide="vm.utils.loading" ng-cloak>
            <div class="row" ng-if="vm.attempts.length">
                <div class="col-xs-4 col-md-3 text-left">
                    <div class="form-group">
                        <label for="search-name" class="sr-only">Search: </label>
                        <input type="text" class="form-control qc-search-box" id="search-name" ng-model="vm.search.assessmentName" placeholder="Search quick check name" ng-if="!vm.isViewingByStudent()">
                        <input type="text" class="form-control qc-search-box" id="search-name" ng-model="vm.search.studentName" placeholder="Search by last name" ng-if="vm.isViewingByStudent()">
                    </div>
                </div>
                <div class="col-xs-8 col-md-9 text-right">
                    <div class="qc-student-results-toggle">
                        <input class="tgl tgl-ios sr-only" type="checkbox"
                            id="qc-student-results-toggle"
                            ng-model="vm.isResultsByStudentToggled"
                            ng-checked="vm.isResultsByStudentToggled == 'true'"
                            ng-click="vm.toggleStudentResultsView()">
                        <label class="tgl-btn inline-block" for="qc-student-results-toggle"><span class="sr-only">Toggle to view results by student</span></label>
                        <p class="qc-toggle-student-results-text">{{ vm.isResultsByStudentToggled == 'true' ? 'Hide' : 'View' }} results by student</p>
                    </div>
                </div>
            </div>
            <div ng-if="vm.attempts.length">
                <div class="list-group attempt-overview-list" ng-if="!vm.isViewingByStudent()">
                    <a ng-repeat="attempt in vm.attempts" target="_self" ng-href="{{vm.utils.setContextLink('assessment/' + attempt.assessment_id + '/attempts')}}" class="list-group-item" ng-if="!vm.isSubstringNotFound(attempt.assessment.name, vm.search.assessmentName)">{{ attempt.assessment.name }}</a>
                </div>
                <div class="list-group attempt-overview-list" ng-if="vm.isViewingByStudent()">
                    <a ng-repeat="student in vm.students" target="_self" ng-href="{{vm.utils.setContextLink('student/' + student.id + '/attempts')}}" class="list-group-item" ng-if="!vm.isSubstringNotFound(student.lis_person_name_family, vm.search.studentName)">{{ student.lis_person_name_family }}, {{ student.lis_person_name_given }}</a>
                </div>
            </div>
            <div ng-if="!vm.attempts.length">
                <h3>Looks like there aren't any results yet.</h3>
                <p>If you're curious to see how the results might appear, you can take a quick check you've embedded in an assignment, and even as an instructor, you can see your attempts and responses here.</p>
            </div>
        </div>
    </div>
</div>