@import '../../../../styles/colors';

.qc-nav {
    background-color: $iron-gray-lighter;
    color: $white;
    padding: 20px;

    .logo {
        font-family: 'BentonSansComp';
        font-size: 2em;
        font-weight: 700;
        line-height: 1.25;
        text-transform: uppercase;
    }

    .logo-sub-header {
        font-family: 'BentonSansComp';
        font-size: 1em;
        font-weight: 300;
    }

    .qc-nav-current {
        font-weight: 700;
    }

    ul {
        border-bottom: solid 1px $white;
        display: flex;
        flex-direction: row;
        font-family: 'BentonSans';
        font-weight: 300;
        list-style: none;
        margin-bottom: 20px;
        text-transform: uppercase;

        li {
            flex-grow: 1;
            padding: 20px 15px 5px 5px;
            text-align: center;
        }

        a {
            color: $white;
        }
    }
}

//home-specific nav style
:host.home-nav-style {
    //position over the content so background image shows through
    position: absolute;
    top: 0;
    left: 0;   // Pin to the left edge
    width: 100%;
    z-index: 1000;
    padding: 30px;

    h1,
    h2 {
        color: $white;
        padding-left: 30px;
    }

    h1 {
        font-size: 3em;
        font-weight: 700;
        margin-bottom: 20px;
    }

    h2 {
        font-style: normal;
        text-transform: none;
    }

    nav {
        background-color: transparent;
    }
}