<div class="row modal-wrapper">
    <div class="modal fade" id="qc-feedback-modal" tabindex="-1" role="alertdialog" aria-labelledby="qc-feedback-label" aria-describedby="qc-feedback-dialog-content">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header sr-only">
                    <h1 class="modal-title" id="qc-feedback-label">Feedback</h1>
                </div>
                <div class="modal-body" id="qc-feedback-dialog-content">
                    <h2 class="clearfix" ng-if="vm.isCorrect">Correct</h2>
                    <h2 class="clearfix" ng-if="!vm.isCorrect">Incorrect</h2>
                    <p class="custom-feedback" ng-repeat="feedbackItem in vm.feedback" ng-bind-html="feedbackItem.feedback_text"></p>
                    <button type="button" class="btn qc-btn qc-continue-btn"
                        ng-class="{'btn-success': vm.isCorrect, 'btn-danger': !vm.isCorrect}"
                        ng-click="vm.nextQuestion()"
                        ng-disabled="vm.isNextBtnDisabled">Click to continue</button>
                </div>
            </div>
        </div>
    </div>
</div>