<div class="qc-collection-tile" *ngIf="this.collection">
    <div [hidden]="this.collection.isEditing">
        <div class="qc-collection-header">
            <h2 id="collection-header-{{this.collection.id}}" tabindex="-1">{{ this.collection.name }}</h2>
            <span class="qc-edit-btn qc-collection-edit-btn" role="button" (click)="this.editCollection()" *ngIf="!this.isReadOnly">
                <qc-edit-icon aria-hidden="true"></qc-edit-icon>
                <span class="sr-only">Edit set {{ this.collection.name }}</span>
            </span>
            <span class="qc-delete-btn qc-collection-delete-btn" role="button" (click)="this.deleteCollection()" *ngIf="!this.isReadOnly">
                <qc-delete-icon aria-hidden="true"></qc-delete-icon>
                <span class="sr-only">Delete set {{ this.collection.name }}</span>
            </span>
        </div>
        <h3>Owner: <span class="qc-owner-name">{{ this.collection.owner }}</span></h3>
        <h3 *ngIf="this.isReadOnly">Permissions: Read-Only</h3>
        <h3 *ngIf="this.collection.public_collection == 'true'"><span class="fa fa-eye" aria-hidden="true"></span> Public set</h3>
        <div class="row">
            <div class="col-6">
                <a [routerLink]="'/collection/' + this.collection.id" queryParamsHandling="preserve" target="_self">
                    <button type="button" class="btn qc-view-set-btn qc-btn">Go to set<span class="sr-only"> {{ this.collection.name }}</span></button>
                </a>
            </div>
            <div class="col-6">
                <a *ngIf="this.utilitiesService.isLti" [routerLink]="'/collection/' + this.collection.id" queryParamsHandling="preserve" target="_blank">
                    <button type="button qc-btn" class="btn qc-view-new-tab-btn"><span class="fa fa-mail-forward" aria-hidden="true"></span> View<span class="sr-only"> set {{ this.collection.name }}</span> in new tab</button>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="this.collection.isEditing">
        <form (ngSubmit)="this.updateCollection()">
            <h3 id="edit-collection-header-{{this.collection.id}}" class="edit-collection-header" tabindex="-1">Edit set</h3>
            <div class="form-group">
                <label for="collection-name-{{this.collection.id}}">Set name (for internal use only, not displayed to student)</label>
                <input type="text" class="form-control qc-collection-edit-name" id="collection-name-{{this.collection.id}}" name="collection-name-{{this.collection.id}}"
                    [(ngModel)]="this.collection.editingData.name" required>
            </div>
            <div class="form-group">
                <label for="collection-description-{{this.collection.id}}">Set description (optional)</label>
                <textarea class="form-control qc-collection-edit-description" id="collection-description-{{this.collection.id}}" name="collection-description-{{this.collection.id}}" [(ngModel)]="this.collection.editingData.description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success qc-btn">Save <span class="sr-only"> edits to set {{ this.collection.name }}</span></button>
                <button type="button" class="btn btn-outline-dark qc-btn" (click)="this.collectionEditingClose()">Cancel <span class="sr-only"> edits to set {{ this.collection.name }}</span></button>
            </div>
        </form>
    </div>
</div>
