<div class="modal-content" id="qc-assessment-timeout-modal">
    <div class="modal-header sr-only">
        <h2 class="modal-title" id="qc-assessment-timeout-label">Timeout warning</h2>
    </div>
    <div class="modal-body">
        <h2>Please slow down</h2>
        <p>Your instructor has enabled a timeout limit for excessive attempts, to prevent random guessing of answers. The limit is 2 attempts in 1 minute. (Attempts only count when at least one question has been answered.) When you exceed this limit, there will be a timeout of 2 minutes before you can begin another quick check. This rule only applies to graded quick checks with an upcoming due date.</p>
        <p>Please take your time and think about your answers before submitting.</p>
        <div aria-hidden="true" *ngIf="!this.timeoutFinished">
            <svg class="qc-timeout-timer" width="100" height="100" viewbox="0 0 100 100">
                <path class="qc-timeout-border" [attr.d]="this.countdownAnimation" transform="translate(50, 50)"/>
                <path class="qc-timeout-loader" [attr.d]="this.countdownAnimation" transform="translate(50, 50) scale(.84)"/>
            </svg>
        </div>
        <div class="row text-center">
            <button *ngIf="this.timeoutFinished" class="btn btn-lg qc-btn-restart-assessment qc-btn" (click)="this.restart()">Restart the quick check</button>
        </div>
    </div>
</div>
