<div class="qc-mcorrect-options">
    <fieldset>
        <legend class="lead qc-assessment-question" ng-bind-html="vm.currentQuestion.question_text"></legend>
        <div class="checkbox" ng-repeat="answerOption in vm.currentQuestion.options">
            <input type="checkbox" name="{{vm.currentQuestion.id}}" value="{{answerOption.answer_text}}" ng-checked="false"
                id="{{answerOption.id}}"
                ng-model="answerOption.selected"
                ng-click='vm.onAnswerSelected(answerOption)'>
            <label ng-bind-html="answerOption.answer_text" for="{{answerOption.id}}"></label>
        </div>
    </fieldset>
</div>