<h2>Released quick check results</h2>
<p class="lead">Your instructor chooses when to release a quick check so that results are visible to students. Results include all of your attempts at a quick check, count correct/incorrect, and score. Note that results are <em>not</em> the same as grades. Your grades will appear in the Canvas gradebook as soon as a quick check is graded, regardless of whether your instructor has chosen to release the results or not.</p>
<div *ngIf="!this.releases.length">
    <h3>Try back later</h3>
    <p>Looks like your instructor hasn't released any results yet.</p>
</div>
<ul class="list-group" *ngIf="this.releases.length">
    <div class="row text-left">
        <div class="col-4 col-md-3">
            <div class="form-group">
                <label for="search-name" class="sr-only">Search: </label>
                <input type="text" class="form-control qc-search-box" id="search-name" [(ngModel)]="this.search.assessmentName" placeholder="Search">
            </div>
        </div>
    </div>
    <button type="button" *ngFor="let release of this.releases" class="list-group-item list-group-item-action" (click)="this.viewAttempts(release.assessment)" [hidden]="this.isSubstringNotFound(release.assessment.title, this.search.assessmentName) && this.isSubstringNotFound(release.assessment.name, this.search.assessmentName)">
        <span *ngIf="release.assessment.title">{{ release.assessment.title }}</span>
        <span *ngIf="!release.assessment.title">{{ release.assessment.name }}</span>
    </button>
</ul>