<qc-nav qc-current-page="this.currentPage"></qc-nav>
<qc-loading [hidden]="!this.utilitiesService.loading"></qc-loading>
<div class="row">
    <div class="col-12">
        <qc-error-message *ngIf="this.utilitiesService.errorFound" qc-utilitiesService="this.utilitiesService"></qc-error-message>
        <div >
            <div class="row">
                <div class="col-6">
                    <h1 class="qc-view-set-header">View Set</h1>
                    <h2 class="qc-view-set-subheader">{{ this.collection.name }}</h2>
                    <small *ngIf="collection.description" class="text-muted">Description: {{ this.collection.description }}</small>
                    <qc-read-only-notice *ngIf="this.readOnly"></qc-read-only-notice>
                </div>
                <div class="col-6 text-right" *ngIf="!this.readOnly">
                    <div class="form-group">
                        <qc-qti-import-btn
                            qc-is-importing-qti="this.isImportingQti">
                        </qc-qti-import-btn>
                        <qc-qti-export-btn
                            qc-is-exporting-qti="this.isExportingQti">
                        </qc-qti-export-btn>
                    </div>
                    <qc-toggle-public-collection
                        *ngIf="this.admin && this.collection"
                        qc-collection="this.collection"
                        qc-utilitiesService="this.utilitiesService">
                    </qc-toggle-public-collection>
                </div>
            </div>
            <div class="row" >
                <div class="col-4 col-md-3">
                    <div class="form-group" *ngIf="this.assessmentGroups.length">
                        <label for="search-box" class="sr-only">Search set: </label>
                        <input type="text" class="form-control qc-search-box" id="search-box"
                            placeholder="Search set"
                            [(ngModel)]="this.searchTerm"
                            [(ngModel)]-options="{ debounce: 500}"
                            (ngModelChange)="this.search()">
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="this.searchTerm && !this.utilitiesService.loading">
                <div class="col-12 col-sm-6">
                    <h3>Search results:</h3>
                    <div class="well text-center" *ngIf="!this.searchResults">
                        <h4>No results found</h4>
                    </div>
                    <div *ngIf="this.searchResults">
                        <ul>
                            <li *ngFor="let assessment of this.searchResults" class="qc-search-assessment-result">
                                <strong><a href="{{this.utilitiesService.setContextLink('../assessment/' + assessment.id + '/edit')}}" target="_self">{{ assessment.name }}</a></strong>
                                <ul>
                                    <li *ngFor="let question of assessment.questionSearchResults" class="qc-search-question-result">Question #{{ question.question_order }}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <qc-qti-import [hidden]="!this.isImportingQti"
                qc-assessment-groups="this.assessmentGroups"
                qc-is-importing-qti="this.isImportingQti">
            </qc-qti-import>

            <qc-qti-export [hidden]="!this.isExportingQti"
                qc-assessment-groups="this.assessmentGroups"
                qc-is-exporting-qti="this.isExportingQti">
            </qc-qti-export>
        </div>
        <div >
            <qc-users
                qc-collection-id="this.collectionId"
                qc-current-user="this.currentUser"
                qc-read-only="this.readOnly"
                qc-utilitiesService="this.utilitiesService">
            </qc-users>
            <qc-features
                qc-collection-id="this.collectionId"
                qc-read-only="this.readOnly"
                qc-utilitiesService="this.utilitiesService">
            </qc-features>
            <h2 class="qc-h1-style">Subsets</h2>
            <qc-add-assessment-group
                *ngIf="!this.readOnly"
                qc-collection-id="this.collectionId"
                qc-on-save="this.onAssessmentGroupSaved($event)"
                qc-utilitiesService="this.utilitiesService">
            </qc-add-assessment-group>
            <p *ngIf="!this.assessmentGroups.length && !this.readOnly && !this.utilitiesService.loading" class="lead qc-subset-instructions">Looks like you haven't added a subset yet. A subset is a way to organize your quick checks. All quick checks must belong to a subset group. Click the button to add a new subset to get started.</p>
            <div class="panel-group qc-panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="this.assessmentGroups.length">
                <qc-assessment-group
                    *ngFor="let assessmentGroup of this.assessmentGroups; index as $index;"
                    qc-assessment-group-data="assessmentGroup"
                    qc-assessment-group-index="$index"
                    qc-on-assessment-copy="this.onAssessmentCopy($event)"
                    qc-on-delete="this.onAssessmentGroupDeleted($event)"
                    qc-read-only="this.readOnly"
                    qc-utilitiesService="this.utilitiesService">
                </qc-assessment-group>
            </div>
        </div>
    </div>
</div>
