<div class="form-group">
    <button class="btn btn-lg qc-btn-add qc-btn-add-subset" ng-click="vm.openForm()" type="button">
        <span class="fa fa-plus" aria-hidden="true" ng-disabled="vm.formOpen"></span> Add new subset
    </button>
    <div class="row" ng-if="vm.formOpen">
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default qc-add-assessment-group">
                <div class="panel-body">
                    <h3 id="create-assessmentgroup-header" class="qc-add-header" tabindex="-1">Create new subset</h3>
                    <form ng-submit="vm.save()">
                        <label for="new-subset-name">Subset name: </label>
                        <input type="text" class="form-control" id="new-subset-name"
                                placeholder="Example: Module 1"
                                ng-model="vm.newAssessmentGroup.name"
                                required>
                        <hr>
                        <button type="submit" class="btn btn-sm btn-success qc-btn">Save <span class="sr-only">new subset</span></button>
                        <button type="button" class="btn btn-sm btn-default qc-btn" ng-click="vm.cancel()">Cancel <span class="sr-only">adding new subset</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>