<div class="card qc-accordion-panel qc-feature-panel" (click)="this.toggleShowFeatures()">
    <div class="card-header" role="button" [attr.aria-expanded]="false" [attr.aria-controls]="featureList">
        <span class="qc-accordion-arrow fa fa-lg" [ngClass]="this.showFeatures ? 'fa-caret-down' : 'fa-caret-right'" aria-hidden="true"></span>
        <h3 class="card-title">Show features in this set</h3>
    </div>
    <div class="card-body collapse" id="featureList" [collapse]="!this.showFeatures" [isAnimated]="true">
        <div (click)="this.utilitiesService.preventToggle($event)">
            <div *ngFor="let collectionFeature of this.collectionFeatures" class="form-group">
                <h3>{{collectionFeature.feature.name}} -
                    <span *ngIf="collectionFeature.enabled == 'true'"> ON</span>
                    <span *ngIf="collectionFeature.enabled != 'true'"> OFF</span>
                </h3>
                <input class="tgl tgl-ios sr-only" type="checkbox" id="feature-{{collectionFeature.id}}"
                    [checked]="collectionFeature.enabled == 'true'"
                    (click)="this.toggleFeature(collectionFeature)"
                    *ngIf="!this.readOnly">
                <label class="tgl-btn qc-feature-toggle-btn" for="feature-{{collectionFeature.id}}" *ngIf="!this.readOnly"><span class="sr-only">Toggle for feature {{collectionFeature.feature.name}}</span></label>
                <p>{{collectionFeature.feature.description}}</p>
            </div>
        </div>
    </div>
</div>
