<div class="form-group">
    <button class="btn btn-lg qc-btn-add qc-btn-add-subset" (click)="this.openForm()" type="button" [disabled]="this.formOpen">
        <span class="fa fa-plus" aria-hidden="true"></span> Add new subset
    </button>
    <div class="row" *ngIf="this.formOpen">
        <div class="col-12 col-sm-6">
            <div class="card qc-add-assessment-group">
                <div class="card-body">
                    <h3 id="create-assessmentgroup-header" class="qc-add-header" tabindex="-1">Create new subset</h3>
                    <form (ngSubmit)="this.save()">
                        <label for="new-subset-name">Subset name: </label>
                        <input type="text" class="form-control" id="new-subset-name"
                                placeholder="Example: Module 1"
                                [(ngModel)]="this.newAssessmentGroup.name"
                                required>
                        <hr>
                        <button type="submit" class="btn btn-sm btn-success qc-btn">Save <span class="sr-only">new subset</span></button>
                        <button type="button" class="btn btn-sm btn-outline-dark qc-btn" (click)="this.cancel()">Cancel <span class="sr-only">adding new subset</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>