<div class="card">
    <div class="card-header">
        <h2 class="card-title">Admin panel</h2>
    </div>
    <div class="card-body">
        <!--<qc-view-all-collections-toggle
            [collectionData]="this.collectionData"
            [utilitiesService]="this.utilitiesService">
        </qc-view-all-collections-toggle>
        <qc-invite-admin [utilitiesService]="this.utilitiesService"></qc-invite-admin>-->
        <qc-custom-activities-panel [utilitiesService]="this.utilitiesService"></qc-custom-activities-panel>
    </div>
</div>
