<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Admin panel</h2>
    </div>
    <div class="panel-body">
        <qc-view-all-collections-toggle
            qc-collection-data="this.collectionData"
            qc-utilitiesService="this.utilitiesService">
        </qc-view-all-collections-toggle>
        <qc-invite-admin qc-utilitiesService="this.utilitiesService"></qc-invite-admin>
        <qc-custom-activities-panel qc-utilitiesService="this.utilitiesService"></qc-custom-activities-panel>
    </div>
</div>
