.btn {
    text-decoration: none; //if a link, make sure there is no underline
}

//darker blue for accessibility
.btn-primary {
    background-color: $primary-blue-darker;
    border-color: $primary-blue-darker-border;
    color: $white;

    &:hover,
    &:focus {
        background-color: $primary-blue-darker-hover
    }
}

//darker green for acccessible color contrast
.btn-success {
    background-color: $success-green;
    border-color: $success-green;
    color: $white;
    font-size: 0.9rem;

    &:hover,
    &:focus {
        background-color: $success-green-darker;
        color: $white;
    }

    &:focus {
        box-shadow: none;
    }
}

//darker red for accessibility
.btn-danger {
    background-color: $danger-red;
    font-size: 0.9rem;

    &:focus {
        box-shadow: none;
    }
}

.qc-edit-dragdrop-preview-btn {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: white;
}

//common to all buttons in the instructor view
.qc-btn {
    font-family: 'BentonSansCompBook';
    font-style: normal;
    margin-right: 10px;
    text-transform: uppercase;
}

//bootstrap default font size was looking rather small with the new font we're using
.qc-btn.btn-sm { //sass-lint:disable-line force-element-nesting
    font-size: 1em;
}

//add button as arrow-shape pointing to the right
//inspiration: http://dabblet.com/gist/4639593
//sass-lint:disable nesting-depth
.qc-btn-add {
    background-color: $white;
    border: solid $dark-gray 1px;
    border-bottom-left-radius: 6px;
    border-radius: 0;
    border-right: 0;
    border-top-left-radius: 6px;
    color: $iron-gray;
    font-family: 'BentonSansCompBook';
    font-size: 1.6em;
    height: 64px;
    margin-bottom: 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 240px;

    &::after {
        background-color: $white;
        border-right: solid 1px $dark-gray;
        border-top: solid 1px $dark-gray;
        content: '';
        height: 37px;
        margin: -19px -16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(30deg) skewY(30deg); // create a rhombus
        // 49.1deg = atan(1.15) = atan(47px/40px)
        width: 32px;
    }

    span {
        padding-right: 20px;
    }

    &:hover,
    &:hover::after,
    &:focus,
    &:focus::after { //sass-lint:disable-line force-pseudo-nesting
        background-color: $light-gray;
        border-color: $iron-gray;
        border-width: 3px;
    }
}


.qc-btn-analytics,
.qc-btn-download-csv,
.qc-btn-qti-import,
.qc-btn-qti-export
{
    background-color: $dark-gray;
    font-family: 'BentonSansComp';
    font-size: 1em;
    margin-top: 20px;
    text-transform: uppercase;

    .fa {
        color: $white;
        margin-right: 10px;
        vertical-align: middle;
    }

    &:disabled {
        background-color: $light-gray;

        &:hover,
        &:focus {
            background-color: $light-gray;
        }
    }
}

.qc-copy-btn,
.qc-delete-btn,
.qc-edit-btn,
.qc-view-btn
{
    background-color: inherit;
    border: none !important;

    svg {
        height: 25px;
        width: 25px;

        &:active {
            outline: none;
        }
    }

    &:active {
        outline: none; //don't show dotted outline when clicked
    }

    &:focus {
        border: none !important; //border goes around the round SVG, not square button

        svg { //focus border styles need to be circular rather than square: ;
            border-radius: 50%;
        }
    }

    &:hover,
    &:focus {
        cursor: pointer;
    }
}

.qc-copy-btn {
    &:hover,
    &:focus {
        svg path {
            fill: $muted-purple !important;
        }
    }

    &:focus {
        svg {
            border: solid $iron-gray 3px;
        }
    }
}

.qc-delete-btn {
    svg {
        path {
            fill: $darker-gray;
        }
    }

    &:hover,
    &:focus {
        svg path {
            fill: $crimson-red !important;
        }
    }

    &:focus {
        svg {
            border: solid $iron-gray 3px;
        }
    }
}

.qc-edit-btn {
    svg {
        path {
            fill: $darker-gray;
        }
    }

    &:hover,
    &:focus {
        svg path {
            fill: $electric-blue !important;
        }
    }

    &[disabled] {
        svg {
            path {
                fill: $dark-gray;
            }

            &:hover,
            &:focus {
                cursor: not-allowed;
                fill: $dark-gray;
            }
        }

        &:hover,
        &:focus {
            cursor: not-allowed;
        }
    }

    &:focus {
        svg {
            border: solid $iron-gray 3px;
        }
    }
}

.qc-feature-toggle-btn {
    float: left;
    margin-right: 15px;
}

.qc-view-btn {
    &:hover,
    &:focus {
        svg path {
            fill: $seafoam-green !important;
        }
    }

    &:focus {
        svg {
            border: solid $iron-gray 3px;
        }
    }
}

.qc-view-set-btn,
.qc-view-new-tab-btn,
.qc-join-btn,
.qc-opt-out-btn {
    border-radius: 25px;
    font-family: 'BentonSansCompBook';
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.qc-view-set-btn {
    background-color: $crimson-red;
    color: $white;

    &:hover,
    &:focus {
        background-color: $crimson-red-darker;
        color: $white;
    }
}

.qc-view-new-tab-btn {
    background-color: transparent;
    border: solid $black 1px;
    color: $black;

    &:hover,
    &:focus {
        background-color: $thirty-percent-opaque-white;
        color: $black;
    }
}

.qc-public-collections-list {
    .qc-view-set-btn,
    .qc-join-btn,
    .qc-opt-out-btn {
        margin-top: 0;
    }

    .qc-opt-out-btn {
        background-color: $iron-gray-lighter;
        color: $white;
    }
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
    background-color: $iron-gray;
    border-color: $iron-gray;
    color: $white;
}
