$analytics-green: #349e67;
$bg-danger: #fee;
$bg-success: #efe;
$black: #000;
$bootstrap-contextual-danger: #f2dede;
$bootstrap-contextual-success: #dff0d8;
$bootstrap-green-text: #007900;
$correct-row-green: rgba(194, 239, 179, .9);
$crimson-red: #900;
$crimson-red-darker: #790000;
$danger-red: #d33d37;
$dark-blue: #006298;
$dark-blue-darker: #005580;
$dark-gray: #ccc;
$darker-gray: #595959;
$darkred: #8b0000;
$electric-blue: #008ecc;
$electric-blue-lighter: #1FBCFF;
$golden-yellow: #f1be48;
$golden-yellow-darker: #efb328;
$green: #008000;
$incorrect-row-red: rgba(206, 45, 79, .9);
$iron-gray: #333;
$iron-gray-lighter: #525252;
$light-gray: #ededed;
$medium-gray: #9d9d9d;
$muted-purple: #66435a;
$muted-purple-darker: #533649;
$neutral-gray: #e5e5e5;
$ocean-blue: #265a87;
$ocean-blue-muted: #213c48;
$primary-blue-darker: #337ab7;
$primary-blue-darker-border: #2e6da4;
$primary-blue-darker-hover: #286090;
$red: #f00;
$reset-red: #7d110b;
$restart-red: #b71a1a;
$seafoam-green: #84d0a5;
$seafoam-green-darker: #6ec895;
$slate-gray: #666;
$success-green: #2B5F2B;
$success-green-darker: #265026;
$text-danger: #900;
$text-success: #007900;
$toggle-green: #2E7D32;
$toggle-grey-border: #e8eae9;
$toggle-grey-background: #fbfbfb;
$white: #fff;

$eight-percent-opaque: rgba(0, 0, 0, .08);
$ten-percent-opaque: rgba(0, 0, 0, .1);
$thirty-percent-opaque: rgba(0, 0, 0, .3);
$thirty-percent-opaque-white: rgba(255, 255, 255, .3);
$seventy-percent-opaque: rgba(0, 0, 0, .7);