.qc-accordion-panel {
    border-radius: 0;
    margin-top: 20px;

    .card-header {
        border-radius: 0;
        padding: 20px 5px;
    }

    h3 {
        display: inline-block;
        font-family: 'BentonSansComp';
        font-size: 1.5em;
        font-style: normal;
        margin: 0;
        text-transform: uppercase;
    }

    .card-body {
        background-color: $light-gray;
    }

    &:focus {
        outline: none;
    }

    .qc-add-quiz-panel {
        background-color: $white;
    }
}

.qc-student-attempts-panel {
    .card-body {
        background-color: $white;
    }
}

.qc-accordion-arrow {
    display: inline-block;
    font-size: 2em;
    padding: 0 5px;
}

.qc-assessment-copy-panel {
    margin-top: 30px;
    padding: 20px;
}
