.qc-assessment-question {
    img {
        display: block; //make sure images go on their own line if included in question
    }
}

//make dropdowns inline with text and auto width instead of 100%
.qc-dropdown-section {
    select {
        display: inline-block;
        margin: 5px;
        width: auto;
    }
}

.qc-matching-options {
    .table {
        margin-left: 20px; //needs a bit of margin, otherwise it's right up against the left side of the window
        width: auto; //this doesn't need to be 100% width, which is the default
    }

    select {
        min-width: 150px;
    }
}

.qc-matrix-options {
    .form-check {
        padding-left: 0;
    }

    .table {
        max-width: 100%;
        min-width: 50%;
        width: auto;
    }

    input {
        &[type='checkbox'] {
            display: inline-block;
            margin-left: 0;
            position: relative;
        }
    }
}

//since multiple choice/correct/matrix options need to have the input outside
//of the label for optimal accessibility, even though that is not the
//way that bootstrap recommends you do it, need to add extra styles
.qc-mc-options,
.qc-mcorrect-options {
    input {
        &[type='checkbox'],
        &[type='radio'] {
            margin-left: 0;
            margin-top: 8px;
            padding-left: 20px;
        }
    }
}

.qc-mc-options {
    label {
        padding-left: 25px;
    }
}

.qc-mcorrect-options {
    label {
        padding-left: 10px;
    }
}

//for matching and dropdowns
.qc-selectable-answer-option {
    display: inline-block;
    font-size: 12px;
    margin: 0 20px 20px 0;
    padding: 10px;
}

.qc-selectable-answer-option-text {
    display: inline-block;
    padding-right: 20px;
}
