$font-directory: '/assets/fonts';

a {
    color: $dark-blue; // darkened for accessibility in color contrast
    text-decoration: underline; //a11y requirement

    //for popovers, make sure to underline the links so they're really obvious
    //that they can be clicked
    &[data-toggle='popover'] {
        text-decoration: underline;
    }

    &:hover {
        color: $dark-blue-darker; // Darker blue
        text-decoration-thickness: 2px; // Makes the "interaction" feel physical
        outline: none; // Handled by focus-visible globally
    }
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 2;
}

//including a helper class for times when we want the header to look like h1
//for stylistic emphasis, but can't due to hierarchy/accessibility issues
//(used specifically in the subsets header when viewing a set)
h1,
.qc-h1-style {
    color: $black;
    font-family: 'BentonSansComp';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 20px;
    text-transform: uppercase;
}

//I really liked how the h2 looked on the index page when adding a new set, and wanted
//a similar style for adding subsets/quick checks, so this style applies both to h2
//and headers involved with adding subsets/quick checks
h2,
.qc-h2-style,
.qc-add-header {
    color: $black;
    font-family: 'BentonSansComp';
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

h3,
.qc-h3-style {
    color: $black;
    font-family: 'BentonSansCompBook';
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: .5rem;
}

h4 {
    font-weight: 700;
}

.lead {
    font-family: 'BentonSans';
    font-weight: 300;
}

legend {
    padding-bottom: 20px;
}

p {
    margin: 0 0 20px;
}

.alert {
    p { //center paragraph in alert div
        margin-bottom: 0;
    }
}

::placeholder {
    color: $iron-gray;
    font-family: 'BentonSansCompBook';
    font-weight: 400;
    text-transform: uppercase;
}

.strike-through {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
}

@font-face {
    font-family: 'BentonSans';
    font-weight: 400;
    src: url('#{$font-directory}/BentonSans-Regular.otf');
}

@font-face {
    font-family: 'BentonSans';
    font-style: normal;
    font-weight: 700;
    src: url('#{$font-directory}/BentonSans-Bold.otf');
}

@font-face {
    font-family: 'BentonSans';
    font-style: normal;
    font-weight: 300;
    src: url('#{$font-directory}/BentonSans-Light.otf');
}

@font-face {
    font-family: 'BentonSans';
    font-style: italic;
    font-weight: 300;
    src: url('#{$font-directory}/BentonSans-LightItalic.otf');
}

@font-face {
    font-family: 'BentonSansComp';
    font-style: normal;
    font-weight: 400;
    src: url('#{$font-directory}/BentonSansComp-Regular.otf');
}

@font-face {
    font-family: 'BentonSansComp';
    font-style: normal;
    font-weight: 700;
    src: url('#{$font-directory}/BentonSansComp-Bold.otf');
}

@font-face {
    font-family: 'BentonSansComp';
    font-style: normal;
    font-weight: 300;
    src: url('#{$font-directory}/BentonSansComp-Light.otf');
}

@font-face {
    font-family: 'BentonSansComp';
    font-style: italic;
    font-weight: 300;
    src: url('#{$font-directory}/BentonSansComp-LightItal.otf');
}

@font-face {
    font-family: 'BentonSansCompBook';
    font-style: normal;
    font-weight: 400;
    src: url('#{$font-directory}/BentonSansComp-Book.otf');
}