<div>
    <div class="form-group">
        <button class="btn btn-primary qc-btn" type="button"
            [disabled]="this.isOpen"
            (click)="this.open()">
            <span class="fa fa-cogs" aria-hidden="true"></span> Manage custom activities
        </button>
    </div>
    <div *ngIf="this.isOpen" class="custom-activities-panel">
        <h3>Manage custom activities</h3>
        <p>Custom activities can be developed in html/css/js and function as assessments. The source files should first be uploaded within the directory "public/customActivities/".</p>
        <qc-add-custom-activity
            [utilitiesService]="this.utilitiesService"
            (onSave)="this.onSave($event)">
        </qc-add-custom-activity>
        <div class="custom-activities-list">
            <h4 class="qc-custom-activities-header">Custom Activities</h4>
            <div [hidden]="!this.loading">
                <div class="text-center" aria-live="polite">
                    <span class="fa fa-spinner fa-3x fa-spin" aria-hidden="true"></span>
                    <span class="sr-only">Custom activities loading, please wait.</span>
                </div>
            </div>
            <div [hidden]="this.loading">
                <div class="card-group qc-panel-group" id="qc-custom-activity-accordion"
                    role="tablist"
                    aria-multiselectable="true"
                    *ngIf="this.customActivities.length">
                    <qc-custom-activity
                        *ngFor="let customActivity of this.customActivities; index as $index;"
                        [customActivity]="customActivity"
                        [index]="$index"
                        (onDelete)="this.onDelete($event)"
                        [utilitiesService]="this.utilitiesService">
                    </qc-custom-activity>
                </div>
                <div *ngIf="!this.customActivities.length" class="qc-custom-none-added">
                    <h5>Looks like you haven't added any custom activities yet.</h5>
                </div>
            </div>
        </div>
        <button class="btn btn-outline-dark qc-btn" type="button" (click)="this.close()">Close</button>
    </div>
</div>
