<div class="row">
    <div class="col-xs-12">
        <div class="well well-lg qc-row-feedback" tabindex="-1" role="alertdialog">
            <div class="sr-only"><h1>Feedback</h1></div>
            <h2 ng-if="vm.isCorrect">Correct</h2>
            <h2 ng-if="!vm.isCorrect">Incorrect. <span ng-if="vm.partialCredit">Partial credit assigned.</span></h2>
            <p class="custom-feedback" ng-repeat="feedbackItem in vm.feedback" ng-bind-html="feedbackItem.feedback_text"></p>
            <div class="sr-only" ng-if="!vm.isCorrect">
                <ul>
                    <li ng-repeat="incorrectRow in vm.incorrectRows">
                        {{ incorrectRow.text }} was incorrect
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-lg qc-btn"
                ng-class="{'btn-success': vm.isCorrect, 'btn-danger': !vm.isCorrect}"
                ng-click="vm.next()"
                ng-disabled="vm.isNextBtnDisabled">
                Click to continue
            </button>
        </div>
    </div>
</div>