@import '../../../../styles/colors';

.qc-custom-activities-header {
    //make this a bit bigger, so it's bigger than text below but smaller than header text above
    font-size: 22px;
    margin: 35px 0;
}

.qc-custom-activity-panel {
    margin-bottom: 0;

    h5 {
        display: inline-block;
        font-family: 'BentonSansComp';
        font-size: 1.2em;
        font-style: normal;
        margin: 0;
        text-transform: uppercase;

    }

    .card-body {
        background-color: $white !important;
    }

    .card-header {
        background-color: $dark-gray;
        border-left: solid $muted-purple 10px;
    }

    ::ng-deep .qc-custom-activity-edit-btn {
        margin-left: 20px;
        vertical-align: middle;

        svg {
            vertical-align: top;

            path {
                //make edit and delete icons darker so they pop more
                fill: $iron-gray;
            }
        }
    }

    ::ng-deep .qc-custom-activity-delete-btn {
        float: right;
        margin-right: 10px;
        vertical-align: middle;

        svg {
            path {
                fill: $iron-gray;
            }
        }
    }
}

//bit of space around the custom label next to an assessment
.qc-label-custom {
    margin: 10px;
}
