<div class="modal-content" id="qc-assessment-error-modal" >
    <div class="modal-header sr-only">
        <h2 class="modal-title" id="qc-assessment-error-label">Error</h2>
    </div>
    <div class="modal-body">
        <h2>There was an error processing your request.</h2>
        <p class="lead" [innerHTML]="this.errorMessage | safe: 'html'"></p>
        <p *ngIf="this.utilitiesService.isIU()">If the problem persists, please <a href="https://kb.iu.edu/d/abxl" target="_blank">contact the support center.</a></p>
        <button class="btn btn-secondary btn-block qc-btn" *ngIf="this.showRestartBtn" (click)="this.onRestart()" type="button">Restart</button>
    </div>
</div>
