<div class="row modal-wrapper">
    <div class="modal fade" id="qc-assessment-error-modal" tabindex="-1" role="dialog" aria-labelledby="qc-assessment-error-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header sr-only">
                    <h2 class="modal-title" id="qc-assessment-error-label">Error</h2>
                </div>
                <div class="modal-body">
                    <h2>There was an error processing your request.</h2>
                    <p class="lead" ng-bind-html="vm.errorMessage"></p>
                </div>
            </div>
        </div>
    </div>
</div>
