<qc-loading ng-show="vm.utils.loading"></qc-loading>
<div class="row section-white">
    <div class="col-xs-12" ng-cloak>
        <h1>Results</h1>
        <qc-error-message ng-if="vm.utils.errorFound" qc-utils="vm.utils"></qc-error-message>
        <qc-releases ng-if="vm.view == 'releases'" ng-hide="vm.utils.loading"
            qc-on-view-attempts="vm.viewAttempts($event)"
            qc-utils="vm.utils">
        </qc-releases>
        <div ng-if="vm.view == 'attempts'" ng-hide="vm.utils.loading">
            <h2>Attempts for
                <span ng-if="vm.attemptAssessment.title">{{ vm.attemptAssessment.title }}</span>
                <span ng-if="!vm.attemptAssessment.title">{{ vm.attemptAssessment.name }}</span>
            </h2>
            <a href='#' ng-click="vm.goBackToReleases()"><span class="fa fa-angle-double-left" aria-hidden="true"></span> Back to course results</a>
            <qc-attempt-data ng-if="vm.displayedAttempts.length"
                qc-attempts="vm.displayedAttempts"
                qc-course-context="vm.courseContext"
                qc-is-student="true"
                qc-is-visible="vm.isAttemptsView()"
                qc-large-class-size="false"
                qc-show-responses="vm.showResponses"
                qc-utils="vm.utils"
                qc-view-responses="vm.viewResponses($event)">
            </qc-attempt-data>
        </div>
        <div ng-if="vm.view == 'responses'" ng-hide="vm.utils.loading">
            <h2 id="response-header" tabindex="-1">Responses for attempt starting at {{ ::vm.utils.formatTimeWithTimeZone(vm.responseAttempt.created_at, vm.courseContext.time_zone) }}</h2>
            <a href='#' ng-click="vm.goBackToAttempts()"><span class="fa fa-angle-double-left" aria-hidden="true"></span> Back to attempts</a>
            <qc-responses
                qc-attempt="vm.responseAttempt"
                qc-course-context="vm.courseContext"
                qc-is-student="true"
                qc-questions="vm.questions"
                qc-responses="vm.responses">
            </qc-responses>
            <span class="sr-only">
                <!-- screenreader user will be moving down the page, so easier for the back button to be down here -->
                <a href='#' ng-click="vm.goBackToAttempts()">Go Back to All Student Attempts</a>
            </span>
        </div>
    </div>
</div>