<div>
    <p class="lead qc-edit-instructions">Note: Textmatch questions will accept answers regardless of capitalization, leading or trailing whitespace, and punctuation.</p>
    <h3 ng-if="vm.question.options.length">Possible answers <span class="sr-only">for question #{{ question.question_order}}</span></h3>
    <div ng-repeat="option in vm.question.options track by $index">
        <h4>Option #{{ $index+1 }}</h4>
        <div class="qc-edit-textmatch-inline">
            <label for="textmatch-answer-{{vm.question.id}}-{{option.id}}">
                Text
                <span class="sr-only"> for question #{{ vm.question.question_order }}, answer option #{{ $index+1 }}</span>:
            </label>
            <input type="text" class="form-control" id="textmatch-answer-{{vm.question.id}}-{{option.id}}"
                ng-model="option.textmatch_answer_text"
                ng-change="vm.onEdited()"
                required
                ng-disabled="vm.readOnly">
            <qc-delete-option-btn
                qc-index="$index"
                qc-on-delete="vm.deleteOption($event)"
                qc-option="option"
                qc-option-type-text="'text match option'"
                qc-question="vm.question"
                ng-if="!vm.readOnly">
            </qc-delete-option-btn>
        </div>
    </div>
    <hr>
    <button class="btn btn-sm btn-primary qc-btn" type="button" ng-click="vm.addOption()" ng-if="!vm.readOnly">
        <span class="fa fa-plus" aria-hidden="true"></span> Add possible answer
        <span class="sr-only">to question #{{ vm.question.question_order }}</span>
    </button>
    <qc-custom-feedback ng-if="!vm.readOnly"
        qc-on-question-edited="vm.onSubComponentEdited($event)"
        qc-question="vm.question">
    </qc-custom-feedback>
    <hr>
</div>