<div class="qc-home-page row">
    <div class="col-xs-12">
        <qc-error-message ng-if="vm.utils.errorFound" qc-utils="vm.utils"></qc-error-message>
        <div class="alert alert-warning text-center" ng-if="vm.sessionExpired" ng-cloak>
            <p class="lead"><span class="fa fa-exclamation" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Your session has expired due to inactivity.</p>
        </div>
        <qc-nav qc-current-page="vm.currentPage" ng-cloak></qc-nav>
        <div class="row" ng-cloak>
            <div class="col-xs-12 col-sm-7 qc-home-hero">
                <button class="btn qc-hero-add-btn" ng-click="vm.addAssessment()" ng-hide="vm.isAddingAssessment">Add Quick Check</button>
                <qc-quick-add ng-if="vm.isAddingAssessment"
                    qc-on-cancel="vm.cancelAdd($event)"
                    qc-utils="vm.utils">
                </qc-quick-add>
            </div>
        </div>
    </div>
</div>